.table__header th:first-child {
  width: 13%;
}

.table__header th:nth-child(2) {
  width: 14.9%;
}

.table__header th:nth-child(3) {
  width: 19.07%;
}

.table__header th:nth-child(4) {
  width: 19.3%;
}

.table__header th:nth-child(5) {
  width: 8.7%;
}

.table__header th:nth-child(6) {
  width: 8.7%;
}

.table__header th:nth-child(7) {
  width: 8.7%;
}

.modal__label {
  margin-top: 20px;
}

.modal-footer {
  padding-top: 0;
  border: 0;
}


@media (min-width: 768px) {
  .w_buscar {
    width: 306px;
  }
}


@media (max-width: 360px) {
  .button_cargaMasiva {
    margin-top: 7px;
  }
}

/*************************************************************/
/*------- Vista de monitores menor a 1707px de width---------*/

@media (min-width: 991px) and (max-width: 1707px) {
  @media (min-width: 768px) {
    .w_buscar {
      width: 17.926vw;
    }
  }


  @media (max-width: 360px) {
    .button_cargaMasiva {
      margin-top: 0.41vw;
    }
  }

}