<img src="assets/images/arrow-left-sm.svg" class="arrow-sm-float" routerLink="/recomendaciones" height="30" />
<div class="float-lg-end mt-3 me-lg-1">
  <img src="assets/images/celepsa.png" class="celepsa-image" />
</div>
<div class="bar">
  <img src="assets/images/arrow-left.svg" routerLink="/recomendaciones" class="arrow-float" />
  <div class="bar-body">
    <img src="assets/images/icon-enchufe.svg" height="72" class="ms-1" />
    <h1 class="mt-4">Eficiencia<br> energética</h1>
  </div>
</div>
<div class="body">
  <div class="header">
    <label class="title-sm text-center">Eficiencia energética</label>
    <h2 class="text-center title-resul">Resultados:</h2>
  </div>
  <div class="content-recomendaciones container col-lg-10">
    <div class="row justify-content-center text-white" style="line-height: 118.4%;font-size: 16px;">
      <div class="col-lg-5" style="margin-bottom:-10px">
        <ul>
          <li>Ahorros en la factura eléctrica. </li>
          <li>Conoce más acerca del consumo energético de tu empresa. </li>
        </ul>
      </div>
      <div class="col-lg-1">
        <div class="borde"></div>
      </div>
      <div class="col-lg-5">
        <ul>
          <li>Reduce emisiones de carbono en tus procesos productivos.
          </li>
        </ul>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-2 g-4 mt-1 mt-md-4 justify-content-center">
      <div class="col-lg-5">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <img src="assets/images/img-enchufe.svg" height="40" />
              <div>
                <h5 class="card-title mt-2 ms-2">Eficiencia y Gestión de Demanda</h5>
              </div>
            </div>
            <label class="card-body-t">Se realiza un análisis del consumo energético y se toman medidas para
              optimizarlo.</label>
            <br> <br>
            <label class="card-body-b">
              Aplicaciones:
              <ul>
                <li> Gestión inteligente de energía mediante domótica.</li>
                <li> Reforzar/cambiar los circuitos eléctricos del cliente.</li>
                <li> Modulación de carga.</li>
                <li> Arbitraje de energía</li>
                <li> Cambio de equipos eléctricos con mejor certificación de eficiencia.</li>
              </ul>
            </label>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <img src="assets/images/img-energy.svg" height="40" />
              <div>
                <h5 class="card-title mt-2 ms-2">Sistemas de Almacenamiento de Energía (BESS)</h5>
              </div>
            </div>
            <label class="card-body-t">Un sistema BESS (en inglés Battery Energy Storage Sytem) es una solución
              que consiste en almacenar energía mediante baterías durante un periodo especifico para
              posteriormente darle uso en periodos que sea conveniente.</label>
            <label class="card-body-b mt-3">
              Aplicaciones:
              <ul>
                <li> Back Up o respaldo de energía en casos de contigencia.
                </li>
                <li> Regulación de tensión
                </li>
                <li>Peak Shaving </li>
                <li>Arbitraje de energía </li>
              </ul>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-lg-4" style="margin-top: auto;">
      <button type="button" (click)="redict()" class="button-celepsa button-blue">¡Quiero
        contactarlos!</button>
    </div>
  </div>
  <label class="footer-recomendaciones">Con el respaldo de Alwa Ingeniería Sostenible S.A.C.</label>
</div>
