td.static-column.parent-row,
td.static-column.child-row {
    display: flex;
    align-items: center;
    padding: 6px 4px 10px 4px;
}

td.static-column.parent-row {
    font-weight: 500 !important;
    background-color: #e0e0e0 !important;
}

td.static-column.child-row {
    font-weight: 400 !important;
    background-color: #f5f5f5 !important;
}

td.static-column.grandchild-row {
    font-weight: 300 !important;
    background-color: #ffffff !important;
}

.table-container {
    display: flex;
    overflow-x: auto;
}

table {
    min-width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px 16px;
    text-align: left;
}

.mat-header-cell,
.mat-cell,
.mat-footer-cell {
    white-space: nowrap;
}

.empty-cell {
    background-color: #f4f4f4 !important;
}

.first-column-border {
    border-right: 1.5px solid #c4c6d0 !important;
}

table mat-icon {
    transform: scale(0.8);
}

.empty-icon {
    display: inline-block;
    width: 24px;
}

.mat-mdc-footer-cell {
    border-top: 1.5px solid #c4c6d0;
    font-size: 14px;
}

.fuente-emision-column {
    min-width: 360px !important;
    width: 360px !important;
    max-width: 360px !important;
}

@media (width >=768px) {
    .static-column {
        position: sticky;
        left: 0;
        background: white;
        z-index: 2;
    }

    .static-column+.static-column {
        left: 200px;
    }

    .static-column:first-child {
        z-index: 3;
    }
}