<div class="container pb-5">
    <h3 class="dash_title">Fuentes de emisión</h3>
    <ng-container>
        <div class="d-flex mb-3 form_sm justify-content-end">
            <button mat-flat-button color="primary" type="button" class="button_add" (click)="fnDescargarZIP()">
                Descargar TODOS los FNA
            </button>
        </div>

        <div class="table-container mt-3">
            <table mat-table [dataSource]="filteredDataSource" class="shadow-sm border rounded">

                <tr mat-header-row *matHeaderRowDef="hFEmision"></tr>
                <tr mat-row *matRowDef="let row; columns: hFEmision;"></tr>

                <!-- Categoría -->
                <ng-container matColumnDef="sCategoria">
                    <th mat-header-cell *matHeaderCellDef class="static-column fuente-emision-column">
                        Fuentes de GEI
                    </th>
                    <td mat-cell *matCellDef="let element" class="static-column fuente-emision-column" [ngClass]="{
              'parent-row': element.isParent,
              'child-row': element.isChild,
              'grandchild-row': element.isGrandchild
            }">
                        <ng-container *ngIf="element.isParent">
                            <button mat-icon-button (click)="toggleCollapse(element)"
                                [style.visibility]="tieneHijos(element) ? 'visible' : 'hidden'">
                                <mat-icon class="arrows"
                                    [svgIcon]="element.isCollapsed ? 'ph-regular:caret-down' : 'ph-regular:caret-up'"></mat-icon>
                            </button>
                            {{ element.sCategoria }}
                        </ng-container>
                        <ng-container *ngIf="element.isChild">
                            <button mat-icon-button (click)="toggleCollapse(element)"
                                [style.visibility]="tieneSubhijos(element) ? 'visible' : 'hidden'">
                                <mat-icon class="arrows"
                                    [svgIcon]="element.isCollapsed ? 'ph-regular:caret-down' : 'ph-regular:caret-up'"></mat-icon>
                            </button>
                            {{ element.sSubcategoria }}
                        </ng-container>
                        <ng-container *ngIf="element.isGrandchild">
                            <div class="d-flex">
                                <span class="empty-icon"
                                    [style.visibility]="tieneSubhijos(element) ? 'visible' : 'hidden'"></span>
                                {{ element.sNombre }}
                            </div>
                        </ng-container>

                    </td>
                </ng-container>

                <!-- Descripción -->
                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef class="static-column ps-3">
                        Descripción
                    </th>
                    <td mat-cell *matCellDef="let element" class="static-column form_xs">
                        <ng-container *ngIf="element.isGrandchild">
                            <div *ngIf="!element.editing">
                                {{ element.sDescripcion }}
                            </div>
                            <div *ngIf="element.editing">
                                <mat-form-field appearance="outline" class="w-100 fs-14 ">
                                    <textarea matInput [(ngModel)]="element.sDescripcion" placeholder="Descripción"
                                        maxlength="250" oninput="this.value = this.value.replace(/['`]/g, '');"
                                        type="text" cdkTextareaAutosize></textarea>
                                </mat-form-field>
                            </div>
                        </ng-container>
                    </td>
                </ng-container>

                <!-- Formato -->
                <ng-container matColumnDef="documento">
                    <th mat-header-cell *matHeaderCellDef class="text-center static-column">
                        Formato de Nivel de Actividad <br>(FNA)
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center static-column">

                        <div *ngIf="!element.editing">
                            <a class="text-primary text-decoration-underline pointer"
                                (click)="fnDescargaArchivo(element.oFormato?.sCodigoDocumento)">
                                {{ element.oFormato?.sNombre ?? '' }}
                            </a>
                        </div>
                        <div *ngIf="element.editing">
                            <div class="file-input-container w-100" (dragover)="onDragOver($event)"
                                (dragleave)="onDragLeave($event)" (drop)="onDrop($event, element)" [ngClass]="{'invalid': element.touched && !element.selectedFile, 'disabled': element.loading 
                ||!element.editing  ||(!element.editing )}">
                                <span class="file-input-text">{{ element.selectedFileName || 'Seleccionar archivo'
                                    }}</span>
                                <mat-icon class="file-input-icon" svgIcon="ph-duotone:folder-open"></mat-icon>
                                <input type="file" class="file-input" accept=".xls, .xlsx"
                                    (change)="onFileSelected($event, element)"
                                    [disabled]="element.loading ||!element.editing || (!element.editing)">
                            </div>
                        </div>
                    </td>
                </ng-container>

                <!-- Acciones -->
                <ng-container matColumnDef="accion" class="text-center">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let element" style="width: 10%;" class="text-center">

                        <button mat-icon-button style="color: #60929e" matTooltip="Editar" (click)="editar(element)"
                            *ngIf="!element.editing && !element.sCodSubcategoria?.endsWith('OFC') && element.isGrandchild">
                            <mat-icon svgIcon="ph-duotone:pencil-simple"></mat-icon>
                        </button>
                        <div *ngIf="element.editing">
                            <mat-icon *ngIf="element.loading" style="height: inherit;width: inherit;">
                                <mat-spinner color="primary" diameter="16">
                                </mat-spinner>
                            </mat-icon>
                            <button *ngIf="!element.loading" mat-icon-button style="color: #47D770" matTooltip="Guardar"
                                (click)="registrarFuente(element)">
                                <mat-icon svgIcon="ph-duotone:check-circle"></mat-icon>
                            </button>
                            <button *ngIf="!element.loading && !element.isNew" mat-icon-button style="color:#EE3725"
                                matTooltip="Cancelar" (click)="cancelar(element)">
                                <mat-icon svgIcon="ph-duotone:x-circle"></mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>
            </table>
        </div>
    </ng-container>
</div>