<div *ngIf="loadingPagina || (fShowSkeletonVehiculoTop && fShowSkeletonVehiculoBot && fShowSkeletonVehiculoMes)" 
  class="progress-bar-container"> <div class="progress-bar-load"></div>
</div>

<div class="container">
    <!-- Filtros -->
    <div class="crud__panel h-80 fs-15 ps-md-5 pe-4 pe-lg-5 mt-3">
      <div class="row align-items-center">
        <div class="col-lg-1 dashboard_label--sm col_nombreSelect mt-2 mt-lg-0">Periodo</div>
        <div class="col-lg-3 col-xl-2">
          <ng-select [notFoundText]="'No hay data'" [clearable]="false" class="ng-select-admin" [items]="lstPeriodo"
            [(ngModel)]="nIdPeriodo" bindLabel="nAnio" bindValue="nIdPeriodo" placeholder="Seleccione"
            (change)="fnListarRuta()">
          </ng-select>
        </div>
        <div class="col-lg-1 dashboard_label--sm col_nombreSelect  mt-2 mt-lg-0">Ruta</div>
        <div class="col-lg-3 col-xl-3">
          <ng-select [notFoundText]="'No hay data'" name="ruta" [clearable]="false" class="ng-select-admin"
            [items]="lstRuta" [(ngModel)]="nIdRuta" name="ruta" bindLabel="sNombre"
            bindValue="nIdRuta" placeholder="Seleccione" (change)="cambiarFiltros()">
          </ng-select>
        </div>
        <ng-container>
          <div *ngIf="bdTotalEmisiones == undefined" class="total-emisiones col-lg-5 d-flex mt-2 mt-lg-0 align-items-end justify-content-end">
            Calculando total de emisiones
          </div>
          <div *ngIf="bdTotalEmisiones >= '0' && bdTotalEmisiones != undefined" class="total-emisiones col-lg-5 d-flex mt-2 mt-lg-0 align-items-end justify-content-end">
            Emisiones de GEI: {{bdTotalEmisiones}} tCO₂e/año
          </div>
          <div *ngIf="bdTotalEmisiones == -1 && bdTotalEmisiones != undefined" class="total-emisiones col-lg-5 d-flex mt-2 mt-lg-0 align-items-end justify-content-end">
            No se reportaron emisiones de GEI
          </div>
        </ng-container>
      </div>
    </div>

    <!-- PIE CHART -->
    <div class="row mt-4">
      <div class="col-lg-6">

        <div class="crud__panel h-100">
          <div class="d-flex align-items-center  mb-4">
            <label class="crud__title--chart">Emisiones de GEI por vehículo
              <span *ngIf="nSizeTop != undefined || nSizeTop > 0" > (Top {{this.nSizeTop}})</span>
            </label>
          </div>
          <div class="d-md-flex align-items-center chart-height" [ngClass]="{ 'd-none': lstRptTopRuta.length<=0}">
            <div class="chart-container chart-container-sm d-flex align-items-center justify-content-center"
              [ngClass]="{'marginFirstDonut': !hasLongLabel}">
              <canvas id="chartTopVehiculo"></canvas>
            </div>
            <ul id="chartLegLoc" class="custom-legend custom-legend-firstChart mt-2 mt-md-0">
              <li *ngFor="let item of legendItemsTopRuta; let i = index" (click)="toggleRuta(i, 1)">
                {{item.text.lenght}}
                <span [style.backgroundColor]="item.fillStyle"></span>
                <label [class.hidden-label]="item.hidden">{{ item.text }}</label>
              </li>
            </ul>
          </div>

          <div class="d-flex align-items-center justify-content-center" *ngIf="fShowSkeletonVehiculoTop" 
            style="height: 445px;" [ngClass]="{'d-none chart-height': lstRptTopRuta.length>0}">
            <div class="d-flex align-items-center justify-content-center">
              <div class="spinner-grow text-primary" role="status"></div>
            </div>
          </div>

          <div class="d-flex align-items-center justify-content-center height-sm" *ngIf="!fShowSkeletonVehiculoTop"
            [ngClass]="{ 'd-none chart-height': lstRptTopRuta.length > 0}">
            <h5 class="mb-0  card-title text-center">No hay data.</h5>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4 mt-lg-0">
        <div class="crud__panel h-100">
          <div class="d-flex align-items-center  mb-4">
            <label class="crud__title--chart">Emisiones de GEI por vehículo
              <span *ngIf="nSizeTop != undefined || nSizeTop > 0" > (Bottom {{this.nSizeTop}})</span>
            </label>
          </div>
          <div class="d-md-flex align-items-center chart-height" [ngClass]="{ 'd-none': lstRptBotRuta.length <= 0}">
            <div class="chart-container chart-container-sm d-flex align-items-center justify-content-center"
              [ngClass]="{'marginFirstDonut': !hasLongLabel}">
              <canvas id="chartBotVehiculo"></canvas>
            </div>
            <ul id="chartLegLoc" class="custom-legend custom-legend-firstChart mt-2 mt-md-0">
              <li *ngFor="let item of legendItemsBotRuta; let i = index" (click)="toggleRuta(i, 2)">
                {{item.text.lenght}}
                <span [style.backgroundColor]="item.fillStyle"></span>
                <label [class.hidden-label]="item.hidden">{{ item.text }}</label>
              </li>
            </ul>
          </div>

          <div class="d-flex align-items-center justify-content-center" *ngIf="fShowSkeletonVehiculoBot" 
            style="height: 445px;" [ngClass]="{'d-none chart-height': lstRptBotRuta.length>0}">
            <div class="d-flex align-items-center justify-content-center">
              <div class="spinner-grow text-primary" role="status"></div>
            </div>
          </div>

          <div class="d-flex align-items-center justify-content-center height-sm" *ngIf="!fShowSkeletonVehiculoBot"
            [ngClass]="{ 'd-none chart-height': lstRptBotRuta.length > 0}">
            <h5 class="mb-0  card-title text-center">No hay data.</h5>
          </div>
        </div>
      </div>
    </div>

    <!-- Evolución mensual  -->
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="crud__panel h-100">
          <label class="crud__title--chart d-flex justify-content-center text-center" style="line-height: 29px;">
            Evolución mensual de emisiones de GEI
            <br>[tCO₂e]
          </label>
          <div [ngClass]="{ 'd-none': lstRptRutaMes.length<=0}">
            <div class="chart-container mt-4">
              <canvas id="chartVehiculoMes"></canvas>
            </div>
            <ul id="chartLegFuente" class="custom-legend d-lg-flex  flex-wrap justify-content-center mt-4"
              style="width: 100%;">
              <li *ngFor="let item of legendItemsRutaMes; let i = index" (click)="toggleVehiculoMes(i)" class="ps-lg-4">
                <span [style.backgroundColor]="item.fillStyle"></span>
                <label [class.hidden-label]="item.hidden">{{ item.text }}</label>
              </li>
            </ul>
          </div>

          <div class="d-flex align-items-center justify-content-center" *ngIf="fShowSkeletonVehiculoMes" 
            style="height: 445px;" [ngClass]="{'d-none chart-height': lstRptRutaMes.length>0}">
            <div class="d-flex align-items-center justify-content-center">
              <div class="spinner-grow text-primary" role="status"></div>
            </div>
          </div>

          <div class="d-flex align-items-center justify-content-center" style="height: 445px;" *ngIf="!fShowSkeletonVehiculoMes" 
            [ngClass]="{ 'd-none chart-height': lstRptRutaMes.length>0}">
            <h5 class="mb-0  card-title text-center">No hay data.</h5>
          </div>
        </div>
      </div>
    </div>

    <br><br>
  </div>