.row {
    justify-content: center;
}

.row>* {
    padding-right: 17px;
    padding-left: 17px;
}

.limites_panel {
    box-shadow: 0px 0px 32px 12px rgba(168, 187, 255, 0.2);
    border-radius: 16px;
    background-color: white;
}

.limite_excluida {
    color: #868385;
    background-color: #ECF0F3;
    border-radius: 100px;
    padding: 3px;
    text-align: center;
    width: 115px;
    border: 1.5px dashed #868385;
}

.mdc-dialog__surface {
    overflow-y: visible !important;
}

.modal_aplauso {
    position: absolute;
    bottom: 88%;
    width: 122px;
}


/*-------------------- Inputs -------------------- */

input[type="file"] {
    width: 100%;
}

.mat-mdc-text-field-wrapper {
    background: white !important;
}


/*-------------------- Table -------------------- */

thead {
    display: none;
}

.table-responsive {
    width: 100%;
}

table mat-form-field {
    flex: 1 1 82px;
}


/*-------------------- Cards -------------------- */
.mat-mdc-card {
    box-shadow: 0px 0px 16px 5px rgba(112, 112, 112, 0.15) !important;
}

.card_image {
    width: 75%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.mat-mdc-card,
.mat-card {
    cursor: pointer;
    transition: transform 0.2s;
}

.mat-mdc-card:hover,
.mat-card:hover,
.mat-mdc-card.selected,
.mat-card.selected {
    transform: scale(1.02);
    color: #00903B;
}

.mat-mdc-card:hover mat-card-subtitle,
.mat-mdc-card.selected mat-card-subtitle {
    color: #00903B;
}

.mat-mdc-card.selected .mat-mdc-card-content,
.mat-mdc-card:hover .mat-mdc-card-content {
    background: #C3E0B4;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.mat-card-content {
    text-align: center;
    flex-grow: 1;
}

.mat-mdc-form-field-subscript-wrapper {
    height: 0;
}

.custom-spinner-background {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.custom-spinner-background::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #B0DDC2;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.mat-progress-spinner circle {
    stroke-linecap: round;
}

.custom-tooltip {
    white-space: pre-line;
    text-align: left !important;
}

.mat-mdc-form-field-infix {
    min-height: 29px;
}

table .form_sede .mat-mdc-text-field-wrapper {
    height: 34px;
}

table .form_sede .mdc-text-field--outlined .mat-mdc-form-field-infix,
table .form_sede .mdc-text-field--no-label .mat-mdc-form-field-infix {
    height: 27px;
    min-height: 34px;
    padding-top: 5px;
}

table .form_sede .mat-mdc-select-placeholder {
    font-size: 14px;
    /*  color: red !important; */
}