<div class="container">
  <div class="row" *ngIf="sfNuevoPeriodo">
    <div class="crud__panel mt-4 col-xl-8">
      <form (ngSubmit)="registrarPeriodo(RegForm)" #RegForm="ngForm" novalidate>
        <div class="row align-items-start">
          <div class="col-lg-2">
            <label class="crud__label--sm" for="anio">Año</label>
            <input [disabled]="modal.nCodEstado==1" id="anio" maxlength="4" class="form-control crud__input"
              pattern="^[0-9]+$" #sAnio="ngModel"
              onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
              [(ngModel)]="model.nAnio" name="nAnio" required
              [ngClass]="{ 'is-invalid': RegForm.submitted && sAnio.errors?.['required']
          || RegForm.submitted && sAnio.errors?.['pattern'] ||RegForm.submitted && model.nAnio<2000 || model.nAnio>2100}">
          </div>
          <div class="col-lg-10 mt-2 mt-lg-0">
            <label class="crud__label--sm">Seleccionar fuentes de emisiones</label>
            <ng-select [notFoundText]="'No hay data'" [items]="lstFuenteEmision" name="fuente" [multiple]="true"
              bindLabel="sNombre" groupBy="nNivel" [selectableGroup]="true" [selectableGroupAsModel]="false"
              [closeOnSelect]="false" bindValue="nIdFuenteEmision" class="ng-select-admin" required
              [(ngModel)]="model.liFuenteEmision" #sLiFuenteEmision="ngModel" name="liFuenteEmision" [ngClass]="{ 'is-invalid': RegForm.submitted && sLiFuenteEmision.errors?.['required']
          || RegForm.submitted && sLiFuenteEmision.errors?.['pattern']}">
              <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" [ngModelOptions]="{standalone: true}" type="checkbox" name="todos"
                  [ngModel]="item$.selected" /> Todos
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModelOptions]="{standalone: true}" name="items"
                  [ngModel]="item$.selected" /> {{item.sNombre}}
              </ng-template>
            </ng-select>
          </div>
        </div>
        <div class="d-flex justify-content-end mt-4">
          <button type="button" (click)="closePanel()" class="crud__button button-white">
            Cancelar</button>
          <button type="submit" [disabled]="isLoadingReg" class="crud__button button-blue ms-2"> <span
              *ngIf="isLoadingReg" class="spinner-border spinner-border-sm me-2"></span>
            Guardar</button>
        </div>
      </form>
    </div>
  </div>
  <label class="crud__title mt-4" *ngIf="!esAdmin">Mis periodos de cálculo</label>
  <label class="crud__title mt-4" *ngIf="esAdmin">Gestionar periodos</label>
  <div class="row" *ngIf="esAdmin">
    <div class="col-md-3 col-lg-2 w_periodo">
      <label class="crud__label--sm">Sector</label>
      <ng-select [notFoundText]="'No hay data'" [searchable]="false" name="periodo" [clearable]="false"
        class="ng-select-admin" [items]="lstSector" bindLabel="sValor" bindValue="sCodigo" placeholder="Seleccione"
        [(ngModel)]="sector" (change)="fnListarEmpresa()">
      </ng-select>
    </div>
    <div class="col-md-4 col-lg-3 mt-2 mt-md-0">
      <label class="crud__label--sm">Empresa</label>
      <ng-select [notFoundText]="'No hay data'" [searchable]="false" name="mes" [clearable]="false"
        class="ng-select-admin" [items]="lstEmpresas" bindLabel="sNombreComercial" bindValue="nIdEmpresa"
        placeholder="Seleccione" [(ngModel)]="empresa" [disabled]="!selectSector" (change)="changeEmpresa()">
      </ng-select>
    </div>
  </div>
  <div class="ms-auto col-md-5 d-flex justify-content-end mt-2 mt-sm-0" *ngIf="!esAdmin">
    <button class="crud__button btn-corner button-blue d-flex align-items-center" [disabled]="sfNuevoPeriodo"
      (click)="nuevoPeriodo()">
      <img src="assets/images/icon-plus.svg" height="25" />
      <span class="ms-2">Nuevo periodo</span> </button>
  </div>
  <div class="row justify-content-center">
    <div class="mt-4 col-md-12">
      <div class="table-responsive crud__card">
        <table class="table table__periodos">
          <thead class="table__header">
            <tr class="text-center">
              <th scope="col">Año</th>
              <th scope="col" class="text-start">Detalle periodo</th>
              <th scope="col">Estado</th>
              <th scope="col">Progreso de avance</th>
              <th scope="col" *ngIf="!esAdmin">Actualizar <br>estado</th>
              <th scope="col" *ngIf="esAdmin">Datos de<br> actividad</th>
              <th scope="col">Detalle<br>locaciones</th>
              <th scope="col" *ngIf="!esAdmin">Editar</th>
              <th scope="col" *ngIf="!esAdmin">Eliminar</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of lstPeriodos; index as i">
            <tr class="table__body" [ngStyle]="{
                'display': i / pageSize >= page || i / pageSize < page - 1 ? 'none' : 'table-row',
                'border-bottom': (i + 1) === (page * pageSize) ? '0 solid transparent' : null,
                'background-color': selectedItem === item.nIdPeriodo ?  '#D8C8FF' : null  }">
              <!--   <td class="text-center">
                {{item.nIdPeriodo}}
              </td> -->
              <td class="text-center">
                {{item.nAnio}}
              </td>
              <td class="text-start">
                <label style="line-height: 18px; ">
                  <span style="font-weight: 500;">Locaciones:</span>
                  {{this.truncateValue(item.nTotalLocaciones,0)}}<br>
                  <span style="font-weight: 500;">Colaboradores:</span>
                  {{this.truncateValue(item.nTotalColaboradores,0)}}<br>
                  <span style="font-weight: 500;">Área total [m<sup>2</sup>]:</span>
                  {{this.truncateValue(item.bdTotalArea,2)}}<br>
                  <span style="font-weight: 500;">Monto ventas [PEN/año]:</span>
                  {{this.truncateValue(item.bdTotalVentas,2)}}
                </label>
              </td>
              <td class="text-center">
                <div class="crud__estado crud__estado--blue" *ngIf="item.nCodEstado==1"> {{item.sCodEstado}}</div>
                <div class="crud__estado crud__estado--purple" *ngIf="item.nCodEstado==0"> {{item.sCodEstado}}</div>
                <div class="crud__estado crud__estado--red" *ngIf="item.nCodEstado==2"> {{item.sCodEstado}}</div>
              </td>
              <td class="text-center">

                <ngb-progressbar [value]="item.nPorcentaje"
                  [type]="item.nPorcentaje <= 30 ? 'danger' : (item.nPorcentaje < 60 ? 'warning' : 'success')"
                  placement="top">
                  <small class="progress-text">{{ item.nPorcentaje }} %</small>
                </ngb-progressbar>
              </td>
              <td class="text-center" *ngIf="!esAdmin">
                <button *ngIf="item.nCodEstado==0 ||item.nCodEstado==1 "
                  [disabled]="item.nPorcentaje!==100 || item.loading" class="crud__button button-finalizar"
                  (click)="cambiarEstado(item,1)">
                  <span *ngIf="item.loading" class="spinner-border spinner-border-sm spinner_cambiarEstado"></span>
                  <span>Finalizar</span></button>
                <button *ngIf="item.nCodEstado==2" class="crud__button button-reiniciar" [disabled]="item.loading"
                  (click)="cambiarEstado(item,2)">
                  <span *ngIf="item.loading" class="spinner-border spinner-border-sm spinner_cambiarEstado"></span>
                  <span>Reiniciar</span></button>
              </td>
              <td class="text-center" *ngIf="esAdmin">
                <button class="button-defect" (click)="redictDatosActividad(item)">
                  <img src="assets/images/icon-eye.svg" height="26" />
                </button>
              </td>
              <td class="text-center">
                <button class="button-defect" [disabled]="isLoadingReg" (click)="openDetalle(item,contentLocacion)">
                  <img src="assets/images/icon-notepad.svg" height="23" />
                </button>
              </td>
              <td class="text-center" *ngIf="!esAdmin">
                <div *ngIf="item.nCodEstado == 0 || item.nCodEstado== 1">
                  <button class="button-defect" [disabled]="isLoadingReg" (click)="openEditar(item)">
                    <img src="assets/images/icon-editar.svg" height="23" />
                  </button>
                </div>
                <div *ngIf="item.nCodEstado==2 || item.nCodEstado==3">
                  <img src=" assets/images/icon-editar.svg" class="image-disabled" height="23" />
                </div>
              </td>
              <td class="text-center" *ngIf="!esAdmin">
                <button *ngIf="item.nCodEstado==0" class="button-defect" [disabled]="isLoadingReg"
                  (click)="openEliminarPeriodo(item, contentEliminar) ">
                  <img src="assets/images/icon-tacho.svg" height="23" />
                </button>
                <div *ngIf="item.nCodEstado!==0">
                  <img src="assets/images/icon-tacho.svg" height="23" class="image-disabled" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <ng-container *ngIf="lstPeriodos.length == 0">
          <div class="text-center mt-5 mb-5">
            <h5>No existen resultados.</h5>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-4 pb-3" *ngIf="lstPeriodos.length > 0">
      <ngb-pagination class="pagination-md" [collectionSize]="lstPeriodos.length" [(page)]="page" [maxSize]="8"
        [pageSize]="pageSize">
        <ng-template ngbPaginationPrevious><img src="assets/images/icon-left-pagination.svg"
            height="15" /></ng-template>
        <ng-template ngbPaginationNext><img src="assets/images/icon-right-pagination.svg" height="15" /></ng-template>
      </ngb-pagination>
      <ngb-pagination class="pagination-sm" [collectionSize]="lstPeriodos.length" [(page)]="page" [maxSize]="5"
        [pageSize]="pageSize">
        <ng-template ngbPaginationPrevious><img src="assets/images/icon-left-pagination.svg"
            height="15" /></ng-template>
        <ng-template ngbPaginationNext><img src="assets/images/icon-right-pagination.svg" height="15" /></ng-template>
      </ngb-pagination>
    </div>
  </div>
</div>


<!-- Modal Detalle Locacion-->
<ng-template #contentLocacion let-modalLocacion>
  <form (ngSubmit)="fnInsertarDetalle(DetalleForm)" #DetalleForm="ngForm" novalidate>
    <div class="modal-padding">
      <div class="modal-header">
        <label class="modal__title">Detalle por locación</label>
        <button type="button" class="close-modal" aria-label="Close"
          (click)="modalLocacion.dismiss();cancelRegDetXLoc()">
          <img src="assets/images/icon-close.svg" height="25" />
        </button>
      </div>
      <div class="modal-body modal-body--withoutTop modal-body--withoutBottom">
        <div class="row">
          <div class="col-md-2">
            <label class="crud__label--sm">Periodo</label>
            <input class="form-control crud__input" disabled [(ngModel)]="modal.nAnio" name="nAnioObs">
          </div>
          <div *ngIf="!esAdmin" class="ms-auto col-lg-7 mt-2 mt-md-0 d-flex justify-content-end align-items-end">
            <div *ngIf="!showLocXPeriodo" class="d-flex group_RegDetXLoc ">
              <ng-select [notFoundText]="'No hay data'" [items]="lstInactivas" name="fuente" [multiple]="true"
                bindLabel="sNombre" bindValue="nIdLocacion" [selectableGroup]="true" [selectableGroupAsModel]="false"
                [closeOnSelect]="false" class="ng-select-admin select_DetXLoc" required [(ngModel)]="modal.liLocaciones"
                #sLiLocaciones="ngModel" placeholder="Seleccionar" name="liLocaciones">
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModelOptions]="{standalone: true}" name="items"
                    [ngModel]="item$.selected" /> {{item.sNombre}}
                </ng-template>
              </ng-select>
              <button class="button-defect" type="button" (click)="fnRegistrarDetXLoc()"
                [disabled]="loadingRegLocXPerido==true">
                <img class="pointer ms-1" src="assets/images/icon-check-circle.svg" height="25" placement="top"
                  ngbTooltip="Guardar" />
              </button>
              <button class="button-defect" type="button" (click)="cancelRegDetXLoc()"
                [disabled]="loadingRegLocXPerido==true">
                <img class="pointer me-1" src="assets/images/icon-close-circle.svg" height="25" placement="top"
                  ngbTooltip="Cancelar" />
              </button>
            </div>
            <label *ngIf="showLocXPeriodo && !esAdmin && modal.nCodEstado!==2"
              (click)="fnListarInactivas();showLocXPeriodo=false" style="color: #00358A;
            text-decoration: underline;cursor: pointer;">Agregar locación al periodo</label>
          </div>
          <div *ngIf="esAdmin && lstDetalle.length>0"
            class="ms-auto col-lg-5 mt-2 mt-md-0 d-flex justify-content-end align-items-end">
            <button (click)="fnDescargarDetLocacion()" type="button" [disabled]="loadDesLocacion"
              class="crud__button button-blue ms-3 d-flex align-items-center">
              <img style="margin-top: -3px;" *ngIf="!loadDesLocacion" src="assets/images/icon-file-excel.svg"
                height="18" class="me-2" />
              <span *ngIf="loadDesLocacion" style="margin-top: -1px;"
                class="spinner-border spinner-border-sm me-2"></span>
              Descargar
            </button>
          </div>
        </div>
        <div class="table-responsive crud__card crud__card--modal p-0 mt-4">
          <table class="table" [class.admin]="!(!esAdmin && modal.nCodEstado!==2)">
            <thead class="table__header table__header--modal text-center">
              <th scope=" col" class="ps-3 text-start">Locación</th>
              <th scope="col" [ngClass]="{'text-end pe-3': !esAdmin && modal.nCodEstado!==2}">Número
                de<br>colaboradores</th>
              <th scope="col" [ngClass]="{'text-end pe-3': !esAdmin&&modal.nCodEstado!==2}">Área total<br> [
                m<sup class="p-0">2</sup> ]</th>
              <th scope="col" [ngClass]="{'text-end pe-3': !esAdmin&&modal.nCodEstado!==2}">Monto ventas<br> [
                PEN ]</th>
              <th scope="col" *ngIf="esAdmin">Indicador <br>[ tCO<sub class="p-0">2</sub>e/PEN ]
              </th>
              <th scope="col" *ngIf="!esAdmin && modal.nCodEstado!==2">Eliminar</th>
            </thead>
            <tbody *ngFor="let item of lstDetalle; index as i">
              <tr class="table__body" [ngStyle]="{
                'display': i / pageSize_modal >= page_modal || i / pageSize_modal < page_modal - 1 ? 'none' : 'table-row',
                'border-bottom': (i + 1) === (page_modal * pageSize_modal) ? '0 solid transparent' : null,
              }">
                <td class="ps-3">
                  {{item.oLocacion.sNombre}}
                </td>
                <td class="text-center">
                  <div class="d-flex justify-content-end" *ngIf="!esAdmin && modal.nCodEstado!==2">
                    <input type="text" maxlength="4" [(ngModel)]="lstDetalle[i].nNumColaboradores"
                      [ngModelOptions]="{standalone: true}" class="form-control form-control-sm crud__input text-end"
                      #nNumColaboradores="ngModel" pattern='^\d{0,4}$' [ngClass]="{
                  'is-invalid':
                                (DetalleForm.submitted && nNumColaboradores.errors?.['pattern'])
                }" (keypress)="validateNumbers($event)">
                  </div>
                  <label
                    *ngIf="esAdmin ||  (!esAdmin && modal.nCodEstado==2)">{{this.truncateValue(item.nNumColaboradores,
                    0)}}</label>
                </td>
                <td class="text-center">
                  <div class="d-flex justify-content-end" *ngIf="!esAdmin && modal.nCodEstado!==2">
                    <input type="text" *ngIf="!esAdmin" [(ngModel)]="lstDetalle[i].bdAreaTotal"
                      [ngModelOptions]="{standalone: true}" pattern="^(\d{1,10})(\.\d{1,2})?$|^$"
                      class="form-control form-control-sm crud__input text-end" #bdAreaTotal="ngModel"
                      (keypress)="validateUnitAndDecimals($event, i)" [ngClass]="{
                'is-invalid':
                              (DetalleForm.submitted && bdAreaTotal.errors?.['pattern'])
              }">
                  </div>
                  <label *ngIf="esAdmin ||  (!esAdmin && modal.nCodEstado==2)">{{this.truncateValue(item.bdAreaTotal,
                    2)}}</label>
                </td>
                <td class="text-center">
                  <div class="d-flex justify-content-end" *ngIf="!esAdmin && modal.nCodEstado!==2">
                    <input type="text" [(ngModel)]="lstDetalle[i].bdMontoVentas" [ngModelOptions]="{standalone: true}"
                      class="form-control form-control-sm crud__input text-end" #bdMontoVentas="ngModel"
                      pattern="^(\d{1,10})(\.\d{1,2})?$|^$" [ngClass]="{
                'is-invalid':
                              (DetalleForm.submitted && bdMontoVentas.errors?.['pattern'])
              }" (keypress)="validateUnitAndDecimals($event, i)">
                  </div>
                  <label *ngIf="esAdmin ||  (!esAdmin && modal.nCodEstado==2)">{{this.truncateValue(item.bdMontoVentas,
                    2)}}</label>
                </td>
                <td class="text-center" *ngIf="esAdmin">
                  <label>{{this.formatWithCommas(item.bdIndicadorVentas)}}</label>
                </td>
                <td class="text-center" *ngIf="!esAdmin && modal.nCodEstado!==2">
                  <button type="button" (click)="fnEliminarDetXLoc(item)" placement="top"
                    ngbTooltip="Elimina la locación del periodo" class="button-defect">
                    <img src="assets/images/icon-tacho.svg" height="23" />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <ng-container *ngIf="lstDetalle.length == 0">
            <div class="text-center mt-5 mb-5">
              <h5>No existen resultados.</h5>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-4 pb-3" *ngIf="lstDetalle.length > 0">
        <ngb-pagination class="pagination-md" [collectionSize]="lstDetalle.length" [(page)]="page_modal" [maxSize]="8"
          [pageSize]="pageSize_modal">
          <ng-template ngbPaginationPrevious><img src="assets/images/icon-left-pagination.svg"
              height="15" /></ng-template>
          <ng-template ngbPaginationNext><img src="assets/images/icon-right-pagination.svg" height="15" /></ng-template>
        </ngb-pagination>
        <ngb-pagination class="pagination-sm" [collectionSize]="lstDetalle.length" [(page)]="page_modal" [maxSize]="5"
          [pageSize]="pageSize_modal">
          <ng-template ngbPaginationPrevious><img src="assets/images/icon-left-pagination.svg"
              height="15" /></ng-template>
          <ng-template ngbPaginationNext><img src="assets/images/icon-right-pagination.svg" height="15" /></ng-template>
        </ngb-pagination>
      </div>
    </div>
    <div class="modal-footer" *ngIf=" !esAdmin && modal.nCodEstado!==2">
      <button type="button" class="crud__button button-white" (click)="modalLocacion.dismiss();cancelRegDetXLoc()">
        Cancelar
      </button>
      <button type="submit" [disabled]="loadModal" class="crud__button button-blue ms-2">
        <span *ngIf="loadModal" class="spinner-border spinner-border-sm me-2"></span> Guardar
      </button>
    </div>
  </form>
</ng-template>

<!-- Modal Eliminar-->
<ng-template #contentEliminar let-modalEliminar>
  <div style="padding: 5px 25px 11px;">
    <div class="modal-body ">
      <label class="modal__title">Confirmación</label>
      <div class="mt-3 d-flex justify-content-center">
        <div> ¿Está seguro de eliminar el periodo?</div>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <button style="width: 100px;" (click)="modalEliminar.dismiss();" class="crud__button button-white"
          type="button">
          No</button>
        <button style="width: 100px;" (click)="eliminarPeriodo()" [disabled]="loadEliminar"
          class="crud__button button-blue ms-2" type="submit">
          <span *ngIf="loadEliminar" class="spinner-border spinner-border-sm me-2"></span>
          Sí</button>
      </div>
    </div>
  </div>
</ng-template>