<img src="assets/images/arrow-left-sm.svg" class="arrow-sm-float" routerLink="/recomendaciones" height="30" />
<div class="float-lg-end mt-3 me-lg-1">
  <img src="assets/images/celepsa.png" class="celepsa-image" />
</div>
<div class="bar">
  <img src="assets/images/arrow-left.svg" routerLink="/recomendaciones" class="arrow-float" />
  <div class="bar-body"> <img src="assets/images/icon-world.svg" height="72" class="ms-1" />
    <h1 class="mt-4">Conocer más<br> sobre la<br> sostenibilidad</h1>
  </div>
</div>
<div class="body">
</div>
