.modal-footer {
  padding-top: 0;
  border: 0;
}

@media (min-width: 992px) {
  .custom-button {
    width: 33%;
  }

  .w-subCat {
    width: 46%;
  }

  .w-codEstado {
    width: 20%;
  }

  .marginToogle {
    margin-top: 35px !important;
  }
}


@media (min-width: 991px) {
  .crud__subtitle {
    width: 455px;
  }
}


/*************************************************************/
/*------- Vista de monitores menor a 1707px de width---------*/

@media (min-width: 991px) and (max-width: 1707px) {

  @media (min-width: 992px) {
    .marginToogle {
      margin-top: 2.05vw !important;
    }
  }


  @media (min-width: 991px) {
    .crud__subtitle {
      width: 26.655vw;
    }
  }
}
