<img src="assets/images/arrow-left-sm.svg" class="arrow-sm-float" routerLink="/recomendaciones" height="30" />
<div class="float-lg-end mt-3 me-lg-1">
  <img src="assets/images/celepsa.png" class="celepsa-image" />
</div>
<div class="bar">
  <img src="assets/images/arrow-left.svg" routerLink="/recomendaciones" class="arrow-float" />
  <div class="bar-body"> <img src="assets/images/icon-remolino.svg" height="72" class="ms-1" />
    <h1 class="mt-4">Implementar el<br>
      proyecto de<br>
      autogeneración<br>
      renovable</h1>
  </div>
</div>
<div class="body">
  <div class="header">
    <label class="title-sm text-center ">Implementar el proyecto de autogeneración renovable</label>
    <h2 class="text-center title-resul">Resultados:</h2>
  </div>
  <div class="content-recomendaciones container col-lg-10">
    <div class="row justify-content-center text-white" style="line-height: 118.4%;font-size: 16px;">
      <div class="col-lg-5" style="margin-bottom:-10px">
        <ul>
          <li>Ahorros en la factura eléctrica.</li>
          <li>Reduce emisiones de carbono en tus procesos productivos.</li>
          <li>Cumple tus objetivos de sostenibilidad.</li>
        </ul>
      </div>
      <div class="col-lg-1">
        <div class="borde"></div>
      </div>
      <div class="col-lg-5">
        <ul>
          <li> Evita interrupciones en tus operaciones.</li>
          <li> Crea un valor adicional a tu empresa mediante soluciones sostenibles.</li>
          <li> Conoce más acerca del consumo energético de tu empresa.</li>
        </ul>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-2 g-4 mt-1 justify-content-center">
      <div class="col-lg-5">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <img src="assets/images/img-panel.svg" height="40" />
              <div>
                <h5 class="card-title mt-2 ms-2">Sistemas Fotovoltaicos</h5>
              </div>
            </div>
            <label class="card-body-t">La energía solar es una de las mejores opciones para el consumo de energía
              limpia y
              los paneles
              solares son los encargados de convertir la radiación solar en energía eléctrica.</label>
            <label class="card-body-b mt-3">
              Aplicaciones:
              <ul>
                <li> Autogeneración 100% renovable.</li>
                <li> Back Up o respaldo de energía en casos de contigencia.</li>
                <li> El sur del Perú posee un alto recurso solar.</li>
              </ul>
            </label>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <img src="assets/images/img-eolico.svg" height="40" />
              <div>
                <h5 class="card-title mt-2 ms-2">Sistemas Eólicos</h5>
              </div>
            </div>
            <label class="card-body-t">La energía eólica es una fuente de energía limpia y las hélices son las
              encargadas de convertir la energía cinética del viento en energía eléctrica. Estos sistemas pueden
              ser instalados por clientes.</label>
            <label class="card-body-b mt-3">
              Aplicaciones:
              <ul>
                <li> Autogeneración 100% renovable. </li>
                <li> Back Up o respaldo de energía en casos de contigencia.</li>
                <li> El norte del Perú posee un alto recurso eólico.</li>
              </ul>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-lg-5" style="margin-top: auto;">
      <button type="button" (click)="redict()" class="button-celepsa button-blue">¡Quiero
        contactarlos!</button>
    </div>
  </div>
  <label class="footer-recomendaciones">Con el respaldo de Alwa Ingeniería Sostenible S.A.C.</label>
</div>
