<div class="pt-3 float-lg-end text-center me-lg-1">
  <img src="assets/images/celepsa.png" class="celepsa-image" />
</div>
<div class="body-inicio">
  <div class="container content-inicio">
    <h1 class="title-certificado">Este cálculo está basado en el<br> consumo eléctrico de
      la empresa.<br>
      <br>
      Es un estimado en base a los<br> factores certificados por <label class=" label-redict"
        onClick="window.open('http://www.alwa.pe', '_blank')">Alwa</label><br>
      (consultora en Gestión del<br> Cambio
      Climático).
    </h1>
    <div class="text-center text-lg-start mt-lg-4" style="margin-top: auto;">
      <button type="button" routerLink="/datos-empresa" class="button-celepsa button-blue">Entendido</button>
    </div>
  </div>
  <label class="footer-recomendaciones">Reserva Paisajística Nor Yauyos Cochas</label>
</div>
