@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~ngx-toastr/toastr';

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('src/assets/fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('src/assets/fonts/Montserrat-Black.woff2') format('woff2');
  font-weight: 900;
}

/************************************************/
/*----------------- General-------------------- */

* {
  /*  outline: 1px solid red; */
  font-family: 'SF Pro Display', sans-serif;
}

.detect_size {
  position: fixed;
  font-size: 12.5px;
  bottom: -5px;
  left: 1px;
  z-index: 1000001;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
}

.margin-container {
  padding-bottom: 21px;
}

.pointer {
  cursor: pointer;
}

.overflow-auto::-webkit-scrollbar {
  height: 0;
}

.descarga {
  color: #00358A;
  cursor: pointer;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.fs-15 {
  font-size: 15px !important;
}

.ms-5px {
  margin-right: 5px;
}

.bg-image {
  background-image: url('src/assets/images/fondo-unicon.jpg');
  box-shadow: inset -12px 0 20px rgba(0, 0, 0, 0.15);
  background-size: cover;
  background-position: center center;
}

.login__title {
  font-weight: 700;
  font-size: 20px;
  color: #00358A;
}

.login {
  min-height: calc(100vh - 84px);
}

.login__card {
  background: #FEFDFB;
  border-radius: 24px;
  width: 444px;
  padding: 38px 32px 25px 32px;
}

.login_card--cambioContrasena {
  box-shadow: 0 7px 40px 13px rgba(166, 197, 247, 0.6);
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.placeholder-glow .placeholder {
  background: #d9dbdd;
  border-radius: 5px;
  animation: placeholder-glow 2s cubic-bezier(0.71, 1.03, 0.43, 1.33) infinite;
}

.ng-select.ng-select-admin .ng-select-container {
  color: #333;
  border-radius: 16px;
  border: 1px solid #3D3D3D;
  height: 38px;
}

.ng-select.ng-select-admin.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
  border: 1.5px solid #407ECB;
  box-shadow: none;
}

.ng-select.ng-select-admin .ng-arrow-wrapper {
  background-image: url(src/assets/images/icon-arrow-select.svg);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  margin-top: 5px;
  width: 25px;
  padding-right: 30px;
}

.ng-select.ng-select-disabled>.ng-select-container .ng-arrow-wrapper {
  display: none;
}

.ng-select.ng-select-admin .ng-arrow-wrapper .ng-arrow {
  border: 0;
}

.ng-select .ng-select-container {
  font-size: 15px;
}

.ng-select .ng-dropdown-panel .ng-option {
  font-size: 15px;
}

.ng-select-admin .ng-placeholder {
  color: #3D3D3D !important;
  font-weight: 300;
}

.ng-select.ng-select-disabled>.ng-select-container {
  background: #FFFFFF;
  color: #B0C0DB !important;
  border: 1px solid #B0C0DB;
}

.ng-select-admin.is-invalid .ng-select-container {
  border: 1.5px solid #FF4B4B !important;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  padding-right: 0.5rem;
  background-image: none;
}

.ng-select.ng-select-disabled>.ng-select-container .ng-arrow-wrapper {
  display: block;
  background-image: url(src/assets/images/icon-arrow-select-disabled.svg);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  margin-top: 5px;
  width: 25px;
  padding-right: 30px;
}

.ng-select.ng-select-disabled .ng-placeholder {
  color: #B0C0DB !important;
}

.ng-select.ng-select-removeArrow.ng-select-disabled>.ng-select-container .ng-arrow-wrapper {
  display: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text_disabled {
  color: #B0C0DB
}

/* Modo escritorio */
@media (min-width: 1300px) {
  .toast-container .ngx-toastr {
    left: -16px;
  }
}

/*****************************************/
/* -------------- Cruds----------------- */

.form-control {
  font-size: 15px;
  height: 38px;
}

.form-control-sm {
  font-size: 15px;
  height: 32px;
}

.crud__background {
  min-height: 100vh;
  position: relative;
}

.crud__title,
.crud__subtitle {
  font-weight: 600;
  font-size: 24px;
  color: #00358A;
}

.crud__title {
  margin-top: 21px;
  margin-bottom: 3px;
}

.crud__subtitle {
  font-size: 20px;
}

.crud__label {
  font-weight: 600;
  font-size: 17px;
  color: #3D3D3D;
}

.crud__label--sub {
  font-weight: 500;
  font-size: 14px;
}

.crud__label--sm {
  font-size: 14px;
}

.crud__label--formato {
  font-weight: 400;
  font-size: 12px;
  color: #00358A;
  text-decoration-line: underline;
}

.crud__input {
  background: #FFFFFF;
  border: 1px solid #474848;
  border-radius: 16px;
}

.crud__input:disabled {
  background: #FFFFFF;
  color: #B0C0DB;
  border: 1px solid #B0C0DB;
}

.crud__input.is-invalid,
.crud__select.is-invalid .ng-select-container {
  border: 1.5px solid #FF4B4B !important;
}

.crud__input:focus {
  border: 1.5px solid #407ECB;
  box-shadow: none;
  background: #FFFFFF;
}

.crud__input--search {
  padding-left: 7px;
  background: #FFFFFF;
}

.crud__input--search::placeholder {
  color: #A3A4A6;
  background: url(src/assets/images/icon-lupa.svg)no-repeat;
}

.crud__input--search[disabled]::placeholder {
  color: #B0C0DB;
  background: url(src/assets/images/icon-lupa-disabled.svg)no-repeat;

}

.crud__input--search::placeholder,
.crud__input--search[disabled]::placeholder {
  font-weight: 300;
  font-size: 16px;
  font-style: italic;
  background-size: 25px;
  background-position: left -3px center;
  padding-left: 25px;
  position: relative;
  top: 0.3px;
}

@-moz-document url-prefix() {
  .crud__input--search {
    padding-left: 29px;
    background: #FFFFFF;
  }

  .crud__input--search::placeholder {
    position: relative;
    background-position: left 2.5px center !important;
  }
}

.crud__card {
  background: #FFFFFF;
  border: 2px solid #00358A;
  border-radius: 24px;
  padding: 0;

}

.crud__card--modal {
  padding: 0 16px 0;
  border-radius: 12px
}

.crud__select {
  background-size: 22px;
  border: 1px solid #3D3D3D;
  height: 40px;
  border-radius: 16px;
  box-shadow: none !important;
  outline: 0 !important;
  -webkit-appearance: none !important;
}

textarea.form-control {
  min-height: 125px;
}

textarea {
  resize: none;
}

@media (min-width: 768px) {
  .crud__card--file {
    width: 650px;
  }
}

@media (max-width: 768px) {
  .crud__title {
    line-height: 27px;
    margin-top: 14px;
    margin-bottom: 3px;
  }

}

.col-form-label-sm,
.col-form-label {
  padding-bottom: 0;
}

/*****************************************/
/* ---------------Botones--------------- */
button {
  outline: none;
}

.crud__button:not(:disabled):not(.disabled).active:focus,
.crud__button:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  transform: scale(0.989);
}

.image-disabled {
  filter: invert(42%) saturate(1352%) hue-rotate(202deg) brightness(141%) contrast(94%);
}

.button-defect,
.close-modal {
  border: none;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.crud__button {
  border-radius: 16px;
  font-size: 16px;
  min-height: 40px;
  padding: 0 18px;
  border: 0;
  border-radius: 16px;
  box-shadow: 0 7px 12px 2px rgba(166, 197, 247, 0.6);
}

.crud__button--large {
  min-width: 117px !important;
}


.button-blue {
  border: 0;
  color: white;
  background: linear-gradient(180deg, #00358A 0%, #00358A 46.35%, #295CAE 100%);
  transition: background-color 0.15s ease-in-out;
}

.button-blue:hover {
  color: #FFEFB0;
}

.button-blue:hover img {
  filter: sepia(1) saturate(7) hue-rotate(349deg);
}

.button-white {
  border: 0;
  color: #00358A;
  font-weight: 500;
  background: white;
  border: 1px solid #00358A;
  box-shadow: 0 7px 12px 2px rgba(166, 197, 247, 0.6);
  transition: background-color 0.15s ease-in-out;
}

.button-red,
.button-yellow,
.button-green {
  height: 30px;
  min-height: 30px;
  color: white;
  width: 104px;
  border-radius: 14px;
  box-shadow: none;
  padding: revert;
  /* font-weight: 600; */
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.015em;
}

.button-red {
  background: #C76262;
}

.button-yellow {
  background: #C99635;
}

.button-green {
  background: #82BC00;
}

.button-blue[disabled],
.button-white[disabled] {
  border: 0;
  background: #FFFFFF;
  color: #B0C0DB;
  box-shadow: inset 0 0 0 1px #B0C0DB;
}

.button-white[disabled] img {
  filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(214deg) brightness(141%) contrast(94%);

}

.button-blue[disabled] img {
  filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(202deg) brightness(141%) contrast(94%);
}

.collapsed-active {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: all 0.1s;
  margin-top: 2px;
}

.collapsed-inactive {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 0.1s;
}

/*****************************************/
/* ---------------Íconos--------------- */

.icon_editar {
  height: 29px;
}

.icon_tacho {
  height: 23px;
}

.icon_doc {
  height: 25px;
}

.icon_calendar {
  height: 28px;
}

.icon_refresh {
  height: 17px !important;
}

.icon_circle {
  height: 25px;
}

.icon_subcategorias {
  height: 24px;
}

.icon_tacho {
  height: 23px;
}

.icon_calendar_plus {
  height: 24px;
}

.icon_report {
  height: 27px;
}

.icon_info {
  height: 17px;
  margin-left: 2px;
}

.icon_resul_gei {
  height: 19px;
}

.icon_eye {
  height: 25px;
}

.icon_eye_table {
  height: 30px;
}

.icon_folder_plus {
  height: 20px;
}

.icon_file_evidencia {
  height: 28px;
}

.icon_dowloand {
  height: 18px;
}

.icon_file_plus {
  height: 23px;
}

.icon_lupa_button {
  height: 16px;
}

.icon_bar {
  height: 18px;
}

.pagination-md img,
.pagination-sm img {
  height: 15px;
}


/*********************************************/
/* ---------------Checkbox--------------- */

.radioResul:checked[type=radio] {
  background-image: url(src/assets/images/radio-ellipse.svg);
}

.radioResul {
  outline: none;
  box-shadow: none !important;
  -webkit-appearance: none;
}

.radioResul:active {
  background-color: white;
  filter: brightness(100%);
  border-color: #CBCBCB;
  box-shadow: none !important;
  outline: 0;
}

.radioResul:focus {
  background-color: #ffffff;
}

.radioResul:checked {
  background-color: #ffffff;
  border-color: #CBCBCB;
}

/*****************************************/
/* ---------------Toogles--------------- */
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00358A;
  -webkit-transition: .1s;
  transition: .1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 2px;
  top: 2.5px;
  bottom: 2px;
  background-color: #FF9F9F;
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked+.slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  background-color: #FFEFB0;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch input:disabled+.slider {
  background-color: #00358a8a;
  cursor: default;
}

/*****************************************/
/* -------------- Tooltips-------------- */
.tooltip.show {
  opacity: 1 !important;
}

.tooltip-inner {
  background-color: white;
  border: 1px solid #00358A;
  color: #00358A;
  font-weight: 500;
  border-radius: 16px;
}

.bs-tooltip-top .tooltip-arrow {
  position: fixed;
  border: 1px solid #00358A;
  border-color: #00358A transparent transparent transparent;
  border-width: 7px 7px 3.5px 7px;
  border-style: solid;
  left: 50% !important;
  transform: translateX(-50%) !important;
  bottom: -3px;
}

.bs-tooltip-top .tooltip-arrow:before {
  content: "";
  top: -9px;
  width: 0;
  display: inline-block;
  border-color: white transparent transparent transparent;
  border-width: 8px 8px 3px 8px;
  border-style: solid;
  margin: auto;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

/*****************************************/
/* ---------------Tablas--------------- */
.table {
  margin-bottom: 0;
}

.table__header {
  height: 34px;
  vertical-align: middle !important;
  border-bottom: 1px solid #3D3D3D;
  padding: 18px 28px;
  line-height: 19px;
  color: #00358A;

}

.table__body {
  font-size: 14px;
  line-height: 19px;
  border-bottom: 0.5px solid #3D3D3D;
  height: 55px;
  font-weight: 200;
  vertical-align: middle;
}

.table__body--degradado:hover {
  background-color: #D9E1ED;
}

.table__body--skeleton {
  border-bottom: inherit;
}

.table__body:last-child:not(:last-of-type),
.table__body--skeleton:last-child:not(:last-of-type) {
  border: none;
}

.table tbody:last-child .table__body {
  border: 0 solid transparent;
}

.table>:not(:first-child) {
  border-top: 0 solid currentColor;
}

.table-responsive::-webkit-scrollbar {
  display: none;
}


/********************************************/
/* ---------------Pagination--------------- */

.page-item.active .page-link {
  z-index: 3;
  color: #00358A;
  font-weight: 600;
}

.page-link {
  width: 25px;
  height: 40px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  border: 0 !important;
  background-color: transparent !important;
  color: #00358A;
  text-align: center;
  padding: 9px 0;
}

.page-link:focus {
  box-shadow: none;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 26px;
  width: 40px;
  height: 40px;
  background: #00358A !important;
  box-shadow: 0 7px 12px 2px rgba(166, 197, 247, 0.6);
  border-radius: 12px;
  padding: 7px 0;
}

.page-item:not(:first-child) .page-link {
  margin-left: 0;
}


@media (min-width: 490px) {
  ngb-pagination.pagination-sm {
    display: none !important;
  }
}

@media (max-width: 490px) {
  ngb-pagination.pagination-md {
    display: none !important;
  }
}


/*****************************************/
/* ------------Ícono de refresco--------- */

.rotate {
  animation: spin 1.3s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*****************************************/
/* ---------------Modals--------------- */
.modal__body--admin {
  font-family: 'SF Pro Display', sans-serif;
  padding: 2rem;
}

.modal-body button {
  width: 100px;
  min-width: 100px;
}

.modal__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  display: block;
  color: #00358A;
}

.modal__text {
  line-height: 19px;
  font-weight: 300;
  color: #474848;
}

.modal-confirmacion .modal-dialog {
  max-width: 428px;
}

.modal-xs .modal-dialog {
  max-width: 380px;
}

.modal-sm .modal-dialog {
  max-width: 460px;
}

.modal-md .modal-dialog {
  max-width: 550px;
}

.modal-lg .modal-dialog {
  max-width: 670px;
}

.modal-xl .modal-dialog {
  max-width: 690px;
}

.modal-xxl .modal-dialog {
  max-width: 800px;
}

.modal-procesar .modal-dialog {
  max-width: 421px;
}

.modal-header {
  border: 0;
  padding: 14px 14px;
}

.modal-content {
  box-shadow: 0 37px 17px rgba(51, 51, 51, 0.25);
  border-radius: 13px;
}

.modal-padding {
  padding: 10px;
}

.close-modal {
  margin-top: -17px;
  margin-right: -10px;
}

.modal-body--withoutTop {
  padding-top: 0;
}

.modal-body--withoutBottom {
  padding-bottom: 0;
}

.modal_confirmacion {
  padding: 5px 25px 11px;
}

/********************************************/
/* ---------------Input File--------------- */

.form-file {
  cursor: pointer;
  height: 38px;
  border: 1px solid #3D3D3D;
  border-radius: 16px;
  font-size: 15px;
  display: flex !important;
}

.textfile {
  padding-top: 7px;
  padding-left: 12.5px;
  border-radius: 16px 0 0 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

::-webkit-file-upload-button {
  font-weight: bold;
  width: 34px;
  color: transparent;
  border: 0;
  background-color: transparent;
  background-image: url(src/assets/images/icon-file.svg);
  background-repeat: no-repeat;
  background-position: 3.8px -4.5px;
  background-size: calc(0.95em + 0.575rem) calc(0.95em + 0.575rem);
  -webkit-appearance: none;
  float: right;
  background-image: -moz-linear-gradient(90deg, #d2d0d0 0%, #f0f0f0 100%);
}

input[type=file] {
  padding-top: 11px;
  width: 40px;
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  outline-color: transparent;
  outline-style: none;
}

.form-file.is-invalid {
  border-color: #FF0000 !important;
  background-image: none !important;
}


/*****************************************/
/* --------------Calendar--------------- */

.crud__calendar,
.crud__calendar:focus,
.crud__calendar.is-invalid {
  background: #FFFFFF;
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: 28px;
}

.crud__calendar {
  border: 1px solid #3D3D3D;
  border-radius: 16px;
}

.crud__calendar:focus {
  border: 1px solid #3D3D3D;
  box-shadow: none;
}

.btn-light {
  font-size: 15.5px;
}

.ngb-dp-weekday {
  color: #0075C9 !important;
}

.ngb-dp-weekday,
.ngb-dp-week-number {
  font-style: normal !important;
}

.picker__weekday {
  pointer-events: none;
}

.bg-primary {
  background-color: #0075C9 !important;
}

@media (max-width: 1480px) and (min-width: 1363px) {
  .container {
    max-width: 1220px;
  }
}

/*****************************************/
/*----------------Alertas--------------- */

.toast-container .ngx-toastr {
  border-radius: 10px;
}

.toast-success {
  background-color: #E6F3EB;
  border: 1px solid #78BF92;
  box-shadow: 0 7px 40px 13px rgba(190, 238, 207, 0.3) !important;
  color: #78BF92 !important;
  background-image: url('src/assets/images/icon-alert-success.svg');
}

.toast-warning {
  background-color: #FFF0D4;
  border: 1px solid #FF9514;
  box-shadow: 0 7px 40px 13px rgba(255, 214, 164, 0.3) !important;
  color: #FF9514 !important;
  background-image: url('src/assets/images/icon-alert-warning.svg');
}

.toast-error {
  background-color: #FED6D3;
  border: 1px solid #F9281D;
  box-shadow: 0 7px 40px 13px rgba(253, 175, 170, 0.3) !important;
  color: #F9281D !important;
  background-image: url('src/assets/images/icon-alert-error.svg');
}

.toast-info {
  background-color: #D8E6FB;
  border: 1px solid #2E79E9;
  box-shadow: 0 7px 40px 13px rgba(178, 206, 247, 0.3) !important;
  color: #2E79E9 !important;
  background-image: url('src/assets/images/icon-alert-info.svg');
}

/*
@media (max-width: 546px) {
  .toast-container {
    z-index: 20;
    position: fixed;
    bottom: 18px;
    left: 2%;
    right: 2%;
    width: 100%;
    top: auto;
    padding-top: 6px !important;
  }
} */


/***********************************************/
/* ---------------Resultados GEI--------------- */
.progress-text {
  position: absolute;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  color: black;
}

ngb-progressbar {
  position: relative;
  margin-right: 4px;
}

.progress-bar,
.progress {
  height: 25px;
  border-radius: 16px;
}

.progress {
  background-color: #e9ecef;
}

.bg-success {
  background-color: #91f17f !important;
}

.bg-warning {
  background-color: #ffb25f !important;
}

.bg-danger {
  background-color: #fd8684 !important;
}

.table__body--color-red {
  background-color: #FED6D3;
}

.table__body--color-yellow {
  background-color: #FFF0D4;
}

.table__body--color-skyblue {
  background-color: #D8E6FB;
}

.table__body--color-blue {
  background-color: #b1bdff8f;
}


.overflow-auto {
  white-space: nowrap;
  width: 85%;
  margin: 7px 0 2px 1px !important;
}

.w-arrow {
  width: 2%;
  cursor: pointer;
}

.w-arrow:hover {
  opacity: 0.6;
}

/*********************************************/
/* ----------------Fieldsets---------------- */
.nav-tabs .nav-link {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.card-body {
  border: 2px solid #00358A;
  border-radius: 24px;
}

/******************************************/
/* ---------------Loading--------------- */
.gradiente {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1200;
  background-color: rgb(0 0 0 / 32%);
}

.dot-flashing {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: #0052ec;
  color: #0052ec;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -40px;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: #0052ec;
  color: #0052ec;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 40px;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: #0052ec;
  color: #0052ec;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #0052ec;
  }

  50%,
  100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}

.loader {
  color: #00358A;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {

  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em,
      2em -2em 0 0em, 3em 0 0 -1em,
      2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 0;
  }

  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em,
      3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }

  25% {
    box-shadow: 0 -3em 0 -0.5em,
      2em -2em 0 0, 3em 0 0 0.2em,
      2em 2em 0 0, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }

  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
      -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
      -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
      -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }

  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em,
      3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }

  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

/***********************************************/
/* ---------------Distancias--------------- */

.custom-button {
  width: 21%;
}

.custom-button button {
  height: 40px;
}

.w-distancia {
  width: 15%;
}

.padding-div {
  width: 39px;
  margin-left: -6px;
  font-size: 15px;
}

@media (min-width: 992px) {
  .crud__card--insertDistancia {
    width: 100%;
  }

  .w-OriYDest {
    width: 30%;
  }

  .custom-button {
    padding-top: 26px;
  }

}

@media (min-width: 768px) {
  .padding-div {
    padding-top: 33.5px;
  }
}


@media (max-width:992px) {
  .custom-button {
    width: 100%;
  }

  .w-distancia {
    width: 83% !important;
  }

  .padding-div {
    padding-top: 38px;
  }
}

/***********************************************/
/* -----------------Iframes------------------- */

.iframe-container {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 210px);
  /* Mitad de la altura más el margen superior */
  margin-top: 2em;
  /*   z-index: -1 !important; */
}

.iframe-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
}

iframe {
  position: relative;
  z-index: 2;
  height: calc(100vh - 150px);
  width: 100%;
}

/*************************************************/
/* ------------Media Queries - General---------- */

/* --------------- Modo Escritorio------------- */
@media (min-width: 768px) {
  .w-periodo {
    width: 130px;
  }

  .w-anio {
    width: 65px;
  }

  .w-mes {
    width: 150px;
  }

  .w-sub_unidad {
    width: 200px;
  }
}

@media (min-width: 991px) and (max-width: 1530px) {
  .loader {
    font-size: 0.527vw;
  }

}

/*************************************************************/
/*------- Vista de monitores menor a 1707px de width---------*/

@media (min-width: 991px) and (max-width: 1707px) {
  /*   .container {
    max-width: 85.938vw !important;
  }
  */

  .container {
    max-width: 80vw !important;
    /*  outline: 1px solid blue; */
  }

  /************************************************/
  /*----------------- General-------------------- */

  .fs-12 {
    font-size: 0.703vw;
  }

  .fs-15 {
    font-size: 0.879vw !important;
  }

  .fs-16 {
    font-size: 0.937vw;
  }

  .fs-18 {
    font-size: 1.054vw;
  }

  .ms-5px {
    margin-right: 5px;
  }

  .detect_size {
    font-size: 0.732vw;
    bottom: -0.293vw;
    left: 0.059vw;
    padding: 0.293vw 0.586vw;
  }

  .row>* {
    padding-right: 0.703vw;
    padding-left: 0.703vw;
  }

  .row {
    margin-right: -0.703vw;
    margin-left: -0.703vw;
  }

  dl,
  ol,
  ul {
    margin-bottom: 0.937vw;
  }

  ol,
  ul {
    padding-left: 1.875vw;
  }

  body {
    line-height: 1.38vw;
  }

  h5 {
    font-size: 1.172vw;
  }

  .margin-container {
    padding-bottom: 1.230vw;
  }

  .bg-image {
    box-shadow: inset -0.703vw 0 1.172vw rgba(0, 0, 0, 0.15);
  }

  .login__title {
    font-size: 1.172vw;
    color: #00358A;
  }

  .login {
    min-height: calc(100vh - 4.921vw);
  }

  .login__card {
    border-radius: 1.406vw;
    width: 26.011vw;
    padding: 2.226vw 1.875vw 1.465vw 1.875vw;
  }

  .login_card--cambioContrasena {
    box-shadow: 0 0.41vw 2.343vw 0.762vw rgba(166, 197, 247, 0.6);
  }

  .placeholder-glow .placeholder {
    border-radius: 0.293vw;
  }

  .ng-select.ng-select-admin .ng-select-container {
    border-radius: 0.937vw;
    border: 0.059vw solid #3D3D3D;
    height: 2.226vw;
    min-height: 2.226vw;
  }

  .ng-select.ng-select-admin.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    border: 0.088vw solid #407ECB;
  }

  .ng-select.ng-select-admin .ng-arrow-wrapper {
    background-size: 1.054vw 1.054vw;
    margin-top: 0.293vw;
    width: 1.465vw;
    padding-right: 1.757vw;
  }

  .ng-select .ng-select-container {
    font-size: 0.879vw;
  }

  .ng-select .ng-dropdown-panel .ng-option {
    font-size: 0.879vw;
  }

  .ng-select.ng-select-disabled>.ng-select-container {
    border: 0.059vw solid #B0C0DB;
  }

  .ng-select-admin.is-invalid .ng-select-container {
    border: 0.088vw solid #FF4B4B !important;
  }

  .ng-select .ng-select-container .ng-value-container {
    padding-left: 0.586vw;
  }

  .form-control.is-invalid,
  .was-validated .form-control:invalid {
    padding-right: 0.5rem;
  }

  .ng-select.ng-select-disabled>.ng-select-container .ng-arrow-wrapper {
    background-size: 1.054vw 1.054vw;
    margin-top: 0.293vw;
    width: 1.465vw;
    padding-right: 1.757vw;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    padding: 0.469vw 0.586vw;
  }

  /* Modo escritorio */
  @media (min-width: 1300px) {
    .toast-container .ngx-toastr {
      left: -0.937vw;
    }
  }

  .m-0 {
    margin: 0.0vw !important;
  }

  .m-1 {
    margin: 0.23vw !important;
  }

  .m-2 {
    margin: 0.47vw !important;
  }

  .m-3 {
    margin: 0.94vw !important;
  }

  .m-4 {
    margin: 1.41vw !important;
  }

  .m-5 {
    margin: 2.81vw !important;
  }

  .mt-0 {
    margin-top: 0.0vw !important;
  }

  .mt-1 {
    margin-top: 0.23vw !important;
  }

  .mt-2 {
    margin-top: 0.47vw !important;
  }

  .mt-3 {
    margin-top: 0.94vw !important;
  }

  .mt-4 {
    margin-top: 1.41vw !important;
  }

  .mt-5 {
    margin-top: 2.81vw !important;
  }

  .mb-0 {
    margin-bottom: 0.0vw !important;
  }

  .mb-1 {
    margin-bottom: 0.23vw !important;
  }

  .mb-2 {
    margin-bottom: 0.47vw !important;
  }

  .mb-3 {
    margin-bottom: 0.94vw !important;
  }

  .mb-4 {
    margin-bottom: 1.41vw !important;
  }

  .mb-5 {
    margin-bottom: 2.81vw !important;
  }

  .ms-0 {
    margin-left: 0.0vw !important;
  }

  .ms-1 {
    margin-left: 0.23vw !important;
  }

  .ms-2 {
    margin-left: 0.47vw !important;
  }

  .ms-3 {
    margin-left: 0.94vw !important;
  }

  .ms-4 {
    margin-left: 1.41vw !important;
  }

  .ms-5 {
    margin-left: 2.81vw !important;
  }

  .me-0 {
    margin-right: 0.0vw !important;
  }

  .me-1 {
    margin-right: 0.23vw !important;
  }

  .me-2 {
    margin-right: 0.47vw !important;
  }

  .me-3 {
    margin-right: 0.94vw !important;
  }

  .me-4 {
    margin-right: 1.41vw !important;
  }

  .me-5 {
    margin-right: 2.81vw !important;
  }

  .mx-0 {
    margin-left: 0.0vw !important;
    margin-right: 0.0vw !important;
  }

  .mx-1 {
    margin-left: 0.23vw !important;
    margin-right: 0.23vw !important;
  }

  .mx-2 {
    margin-left: 0.47vw !important;
    margin-right: 0.47vw !important;
  }

  .mx-3 {
    margin-left: 0.94vw !important;
    margin-right: 0.94vw !important;
  }

  .mx-4 {
    margin-left: 1.41vw !important;
    margin-right: 1.41vw !important;
  }

  .mx-5 {
    margin-left: 2.81vw !important;
    margin-right: 2.81vw !important;
  }

  .my-0 {
    margin-top: 0.0vw !important;
    margin-bottom: 0.0vw !important;
  }

  .my-1 {
    margin-top: 0.23vw !important;
    margin-bottom: 0.23vw !important;
  }

  .my-2 {
    margin-top: 0.47vw !important;
    margin-bottom: 0.47vw !important;
  }

  .my-3 {
    margin-top: 0.94vw !important;
    margin-bottom: 0.94vw !important;
  }

  .my-4 {
    margin-top: 1.41vw !important;
    margin-bottom: 1.41vw !important;
  }

  .my-5 {
    margin-top: 2.81vw !important;
    margin-bottom: 2.81vw !important;
  }

  .mt-lg-0 {
    margin-top: 0 !important;
  }

  .mt-md-0 {
    margin-top: 0 !important;
  }

  .p-0 {
    padding: 0.0vw !important;
  }

  .p-1 {
    padding: 0.23vw !important;
  }

  .p-2 {
    padding: 0.47vw !important;
  }

  .p-3 {
    padding: 0.94vw !important;
  }

  .p-4 {
    padding: 1.41vw !important;
  }

  .p-5 {
    padding: 2.81vw !important;
  }

  .pt-0 {
    padding-top: 0.0vw !important;
  }

  .pt-1 {
    padding-top: 0.23vw !important;
  }

  .pt-2 {
    padding-top: 0.47vw !important;
  }

  .pt-3 {
    padding-top: 0.94vw !important;
  }

  .pt-4 {
    padding-top: 1.41vw !important;
  }

  .pt-5 {
    padding-top: 2.81vw !important;
  }

  .pb-0 {
    padding-bottom: 0.0vw !important;
  }

  .pb-1 {
    padding-bottom: 0.23vw !important;
  }

  .pb-2 {
    padding-bottom: 0.47vw !important;
  }

  .pb-3 {
    padding-bottom: 0.94vw !important;
  }

  .pb-4 {
    padding-bottom: 1.41vw !important;
  }

  .pb-5 {
    padding-bottom: 2.81vw !important;
  }

  .ps-0 {
    padding-left: 0.0vw !important;
  }

  .ps-1 {
    padding-left: 0.23vw !important;
  }

  .ps-2 {
    padding-left: 0.47vw !important;
  }

  .ps-3 {
    padding-left: 0.94vw !important;
  }

  .ps-4 {
    padding-left: 1.41vw !important;
  }

  .ps-5 {
    padding-left: 2.81vw !important;
  }

  .pe-0 {
    padding-right: 0.0vw !important;
  }

  .pe-1 {
    padding-right: 0.23vw !important;
  }

  .pe-2 {
    padding-right: 0.47vw !important;
  }

  .pe-3 {
    padding-right: 0.94vw !important;
  }

  .pe-4 {
    padding-right: 1.41vw !important;
  }

  .pe-5 {
    padding-right: 2.81vw !important;
  }

  .px-0 {
    padding-left: 0.0vw !important;
    padding-right: 0.0vw !important;
  }

  .px-1 {
    padding-left: 0.23vw !important;
    padding-right: 0.23vw !important;
  }

  .px-2 {
    padding-left: 0.47vw !important;
    padding-right: 0.47vw !important;
  }

  .px-3 {
    padding-left: 0.94vw !important;
    padding-right: 0.94vw !important;
  }

  .px-4 {
    padding-left: 1.41vw !important;
    padding-right: 1.41vw !important;
  }

  .px-5 {
    padding-left: 2.81vw !important;
    padding-right: 2.81vw !important;
  }

  .py-0 {
    padding-top: 0.0vw !important;
    padding-bottom: 0.0vw !important;
  }

  .py-1 {
    padding-top: 0.23vw !important;
    padding-bottom: 0.23vw !important;
  }

  .py-2 {
    padding-top: 0.47vw !important;
    padding-bottom: 0.47vw !important;
  }

  .py-3 {
    padding-top: 0.94vw !important;
    padding-bottom: 0.94vw !important;
  }

  .py-4 {
    padding-top: 1.41vw !important;
    padding-bottom: 1.41vw !important;
  }

  .py-5 {
    padding-top: 2.81vw !important;
    padding-bottom: 2.81vw !important;
  }

  /*****************************************/
  /* -------------- Cruds----------------- */
  .form-control {
    font-size: 0.879vw;
    height: 2.226vw;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: 0.351vw 0.703vw;
  }

  .form-control-sm {
    font-size: 0.879vw;
    height: 1.875vw;
    min-height: 1.875vw;
  }

  .crud__title,
  .crud__subtitle {
    font-size: 1.406vw;
  }

  .crud__title {
    margin-top: 1.406vw;
    margin-bottom: 0.176vw;
  }

  .crud__subtitle {
    font-size: 1.172vw;
  }

  .crud__label {
    font-size: 0.996vw;
  }

  .crud__label--sub {
    font-size: 0.820vw;
  }

  .crud__label--sm {
    font-size: 0.820vw;
  }

  .crud__label--formato {
    font-size: 0.703vw;
  }

  .crud__input {
    border: 0.059vw solid #474848;
    border-radius: 0.937vw;
  }

  .crud__input:disabled {
    border: 0.059vw solid #B0C0DB;
  }

  .crud__input.is-invalid,
  .crud__select.is-invalid .ng-select-container {
    border: 0.088vw solid #FF4B4B !important;
  }

  .crud__input:focus {
    border: 0.088vw solid #407ECB;
  }

  .crud__input--search {
    padding-left: 0.410vw;
  }

  .crud__input--search::placeholder,
  .crud__input--search[disabled]::placeholder {
    font-size: 0.937vw;
    background-size: 1.465vw;
    background-position: left -0.176vw center;
    padding-left: 1.465vw;
    top: 0.018vw;
  }

  @-moz-document url-prefix() {
    .crud__input--search {
      padding-left: 1.699vw;
    }

    .crud__input--search::placeholder {
      background-position: left 0.146vw center !important;
    }
  }

  .crud__card {
    border: 0.117vw solid #00358A;
    border-radius: 1.406vw;
  }

  .crud__card--modal {
    padding: 0 0.937vw 0;
    border-radius: 0.703vw
  }

  .crud__select {
    background-size: 1.289vw;
    border: 0.059vw solid #3D3D3D;
    height: 2.343vw;
    border-radius: 0.937vw;
  }

  textarea.form-control {
    min-height: 7.323vw;
  }

  @media (min-width: 768px) {
    .crud__card--file {
      width: 38.079vw;
    }
  }

  @media (max-width: 768px) {
    .crud__title {
      line-height: 1.582vw;
      margin-top: 0.82vw;
      margin-bottom: 0.176vw;
    }

  }

  .col-form-label-sm {
    font-size: 0.82vw;
  }

  /*****************************************/
  /* ---------------Botones--------------- */

  .crud__button {
    border-radius: 0.937vw;
    font-size: 0.937vw;
    min-height: 2.343vw;
    padding: 0 1.054vw;
    border-radius: 0.937vw;
    box-shadow: 0 0.410vw 0.410vw 0.117vw rgba(166, 197, 247, 0.6);
  }

  .crud__button--large {
    min-width: 6.854vw !important;
  }


  .crud__button img {
    height: 1.5vw;
  }

  .button-white {
    border: 0.059vw solid #00358A;
    box-shadow: 0 0.410vw 0.410vw 0.117vw rgba(166, 197, 247, 0.6);
    transition: background-color 0.15s ease-in-out;
  }

  .button-red,
  .button-yellow,
  .button-green {
    height: 1.757vw;
    min-height: 1.757vw;
    width: 6.093vw;
    border-radius: 0.820vw;
    font-size: 0.820vw;
    padding: 0;
    /*  line-height: 10.410vw; */
    letter-spacing: 0.015em;
  }

  .button-blue[disabled],
  .button-white[disabled] {
    box-shadow: inset 0 0 0 0.059vw #B0C0DB;
  }

  .collapsed-active {
    margin-top: 0.117vw;
  }

  /*****************************************/
  /* ---------------Íconos--------------- */

  .icon_editar {
    height: 1.699vw;
  }

  .icon_tacho {
    height: 1.347vw;
  }

  .icon_doc {
    height: 1.465vw;
  }

  .icon_calendar {
    height: 1.64vw;
  }

  .icon_refresh {
    height: 0.996vw !important;
  }

  .icon_circle {
    height: 1.465vw;
  }

  .icon_subcategorias {
    height: 1.406vw;
  }

  .icon_calendar_plus {
    height: 1.406vw;
  }

  .icon_report {
    height: 1.582vw;
  }

  .icon_info {
    height: 0.996vw;
    margin-left: 0.117vw;
  }

  .icon_resul_gei {
    height: 1.113vw !important;
  }

  .icon_eye {
    height: 1.465vw;
  }

  .icon_eye_table {
    height: 1.757vw;
  }

  .icon_folder_plus {
    height: 1.172vw;
  }

  .icon_file_evidencia {
    height: 1.64vw;
  }

  .icon_dowloand {
    height: 1.054vw;
  }

  .icon_file_plus {
    height: 1.347vw;
  }

  .icon_lupa_button {
    height: 0.937vw !important;
  }

  .icon_bar {
    height: 1.054vw !important;
  }

  .pagination-md img,
  .pagination-sm img {
    height: 0.879vw;

  }

  /*****************************************/
  /* ---------------Toogles--------------- */
  .switch {
    width: 2.578vw;
    height: 1.406vw;
  }

  .slider:before {
    height: 1.113vw;
    width: 1.113vw;
    left: 0.117vw;
    top: 0.146vw;
    bottom: 0.117vw;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(1.172vw);
    -ms-transform: translateX(1.172vw);
    transform: translateX(1.172vw);
  }

  .slider.round {
    border-radius: 1.992vw;
  }

  .switch+label {
    font-size: 0.937vw;
  }

  /*****************************************/
  /* -------------- Tooltips-------------- */
  .tooltip-inner {
    border: 0.059vw solid #00358A;
    border-radius: 0.937vw;
    font-size: 0.82vw;
  }

  /*
  .bs-tooltip-top .tooltip-arrow {
    border: 0.059vw solid #00358A;
    border-width: 0.41vw 0.41vw 0.205vw 0.41vw;
    bottom: -0.176vw;
  }

  .bs-tooltip-top .tooltip-arrow:before {
    top: -0.527vw;
    border-width: 0.469vw 0.469vw 0.176vw 0.469vw;
  } */

  /********************************************/
  /* ---------------Pagination--------------- */
  .page-link {
    width: 1.465vw;
    height: 2.343vw;
    font-size: 0.937vw;
    line-height: 1.347vw;
    padding: 0.527vw 0;
  }

  .page-item:first-child .page-link,
  .page-item:last-child .page-link {
    border-radius: 1.523vw;
    width: 2.343vw;
    height: 2.343vw;
    box-shadow: 0 0.41vw 0.703vw 0.117vw rgba(166, 197, 247, 0.6);
    border-radius: 0.703vw;
    padding: 0.41vw 0;
  }


  /********************************************/
  /* ---------------Spinners--------------- */

  .spinner-border-sm {
    --bs-spinner-width: 0.937vw;
    --bs-spinner-height: 0.937vw;
    --bs-spinner-border-width: 0.187vw;
  }

  /*****************************************/
  /* ---------------Tablas--------------- */

  .table__header {
    height: 1.992vw;
    border-bottom: 0.059vw solid #3D3D3D;
    padding: 1.054vw 1.64vw;
    line-height: 1.113vw;
    font-size: 0.937vw;

  }

  .table__body {
    font-size: 0.82vw;
    line-height: 1.113vw;
    border-bottom: 0.029vw solid #3D3D3D;
    height: 3.222vw;
  }

  .table>:not(caption)>*>* {
    padding: 0.469vw 0.469vw;
  }

  .placeholder-sm {
    min-height: 0.75vw;
  }

  /*****************************************/
  /* ---------------Modals--------------- */

  .modal__body--admin {
    padding: 2rem;
  }

  .modal-body {
    padding: 0 0.937vw 0.937vw;
  }

  .modal-body button {
    width: 5.858vw;
    min-width: 5.858vw;
  }

  .modal__title {
    font-size: 1.172vw;
    line-height: 1.406vw;
  }

  .modal__text {
    line-height: 1.113vw;
  }

  .modal_close img {
    height: 1.465vw;
  }

  .modal-confirmacion .modal-dialog {
    max-width: 25.073vw;
  }

  .modal-xs .modal-dialog {
    max-width: 22.261vw;
  }

  .modal-sm .modal-dialog {
    max-width: 26.948vw;
  }

  .modal-md .modal-dialog {
    max-width: 32.22vw;
  }

  .modal-lg .modal-dialog {
    max-width: 39.25vw;
  }

  .modal-xl .modal-dialog {
    max-width: 40.422vw;
  }

  .modal-xxl .modal-dialog {
    max-width: 46.866vw;
  }

  .modal-procesar .modal-dialog {
    max-width: 24.663vw;
  }

  .modal-header {
    padding: 0.82vw 0.82vw;
  }

  .modal-footer {
    padding: 0.703vw;
  }

  .modal-content {
    box-shadow: 0 2.168vw 0.996vw rgba(51, 51, 51, 0.25);
    border-radius: 0.762vw;
  }

  .modal-padding {
    padding: 0.586vw;
  }

  .close-modal {
    margin-top: -0.996vw;
    margin-right: -0.586vw;
  }

  .modal_confirmacion {
    padding: 0.293vw 1.465vw 0.644vw;
  }

  .modal_confirmacion .modal-body {
    padding: 0.937vw;
  }

  /********************************************/
  /* ---------------Input File--------------- */

  .form-file {
    height: 2.226vw;
    border: 0.059vw solid #3D3D3D;
    border-radius: 0.937vw;
    font-size: 0.879vw;
  }

  .textfile {
    padding-top: 0.41vw;
    padding-left: 0.732vw;
    border-radius: 0.937vw 0 0 0.937vw;
  }

  ::-webkit-file-upload-button {
    width: 1.992vw;
    background-position: 0.223vw -0.264vw;
    background-size: 1.429vw 1.429vw;

  }

  input[type=file] {
    padding-top: 0.644vw;
    width: 2.343vw;

  }


  /*****************************************/
  /* --------------Calendar--------------- */
  [ngbDatepickerDayView] {
    width: 1.875vw !important;
    height: 1.875vw !important;
    line-height: 1.875vw !important;
    border-radius: 0.234vw !important;
  }

  .ngb-dp-day,
  .ngb-dp-weekday,
  .ngb-dp-week-number {
    width: 1.875vw !important;
    height: 1.875vw !important;
  }

  .ngb-dp-header {
    border-radius: 0.234vw 0.234vw 0 0 !important;
    padding-top: 0.234vw !important;
  }

  .ngb-dp-arrow {
    width: 1.875vw !important;
    height: 1.875vw !important;
  }

  .ngb-dp-arrow-btn {
    padding: 0 0.234vw !important;
    margin: 0 0.469vw !important;
  }

  .ngb-dp-weekday,
  .ngb-dp-week-number {
    line-height: 1.875vw !important;
  }

  .ngb-dp-navigation-chevron {
    border-width: 0.187vw 0.187vw 0 0 !important;
    width: 0.703vw !important;
    height: 0.703vw !important;
    margin-left: 0.234vw !important;
    margin-right: 0.141vw !important;

  }

  .btn {
    line-height: 0.4;
  }

  .small,
  small {
    font-size: 0.82vw;
  }

  ngb-datepicker-navigation-select>.form-select {
    padding: 0 0.469vw !important;
    font-size: 0.82vw !important;
    height: 1.734vw !important;
  }

  .crud__calendar,
  .crud__calendar:focus,
  .crud__calendar.is-invalid {
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: 1.640vw;
  }

  .crud__calendar {
    border: 0.059vw solid #3D3D3D;
    border-radius: 0.937vw;
  }

  .crud__calendar:focus {
    border: 0.059vw solid #3D3D3D;
  }

  .btn-light {
    font-size: 0.908vw;
  }

  .form-select {
    padding: 0.351vw 2.109vw 0.351vw 0.703vw !important;
    -moz-padding-start: 0.527vw !important;
    font-size: 0.937vw !important;
    background-position: right 0.703vw center !important;
    background-size: 0.937vw 0.703vw !important;
    border: 0.059vw solid #ced4da !important;
    border-radius: 0.351vw !important;
  }

  .dropdown-menu {
    --bs-dropdown-min-width: 9.373vw;
  }

  /*****************************************/
  /*----------------Alertas--------------- */


  .toast-container .ngx-toastr {
    margin: 0 0 0.351vw;
    padding: 0.879vw 0.879vw 0.879vw 2.929vw;
    width: 17.575vw;
    border-radius: 0.586vw;
    background-position: 0.879vw center;
    background-size: 1.406vw;
    box-shadow: 0 0 0.703vw #999999;
    font-size: 0.937vw;
  }

  .toast-success {
    border: 1px solid #78BF92;
    box-shadow: 0 0.41vw 2.343vw 0.762vw rgba(190, 238, 207, 0.3) !important;
  }

  .toast-warning {
    border: 1px solid #FF9514;
    box-shadow: 0 0.41vw 2.343vw 0.762vw rgba(255, 214, 164, 0.3) !important;
  }

  .toast-error {
    border: 1px solid #F9281D;
    box-shadow: 0 0.41vw 2.343vw 0.762vw rgba(253, 175, 170, 0.3) !important;
  }

  .toast-info {
    border: 1px solid #2E79E9;
    box-shadow: 0 0.41vw 2.343vw 0.762vw rgba(178, 206, 247, 0.3) !important;
  }

  /***********************************************/
  /* ---------------Resultados GEI--------------- */
  .progress-text {
    font-size: 0.82vw;
  }

  ngb-progressbar {
    margin-right: 0.234vw;
  }

  .progress-bar,
  .progress {
    height: 1.465vw;
    border-radius: 0.937vw;
  }

  .overflow-auto {
    margin: 0.41vw 0 0.117vw 0.059vw !important;
  }


  /*********************************************/
  /* ----------------Fieldsets---------------- */

  .nav-link {
    border: 0.059vw solid #00358A !important;
  }

  .nav-tabs .nav-link {
    border-top-left-radius: 0.937vw;
    border-top-right-radius: 0.937vw;
    font-size: 0.937vw;
  }

  .card-header:first-child {
    border: 0.0625rem solid white !important;
    margin-left: 0.586vw;
  }

  .nav-tabs .nav-link {
    margin-bottom: -0.117vw;
  }

  .nav-item:nth-child(2) {
    margin-left: 0.527vw;
  }

  .card-body {
    border: 0.117vw solid #00358A;
    border-radius: 1.406vw;
    padding: 0.937vw 0.937vw;
  }

  .nav {
    --bs-nav-link-padding-x: 0.937vw;
    --bs-nav-link-padding-y: 0.469vw;
  }

  /******************************************/
  /* ---------------Loading--------------- */
  .dot-flashing {
    width: 1.757vw;
    height: 1.757vw;
    border-radius: 1.172vw;
  }

  .dot-flashing::before {
    left: -2.343vw;
    width: 1.757vw;
    height: 1.757vw;
    border-radius: 1.172vw;
  }

  .dot-flashing::after {
    left: 2.343vw;
    width: 1.757vw;
    height: 1.757vw;
    border-radius: 1.172vw;
  }

  /*********************************************/
  /* ---------------Distancias--------------- */

  .custom-button button {
    height: 2.343vw;
  }

  .padding-div {
    width: 2.285vw;
    margin-left: -0.351vw;
    font-size: 0.879vw;
  }

  @media (min-width: 992px) {
    .custom-button {
      padding-top: 1.523vw;
    }

  }

  @media (min-width: 768px) {
    .padding-div {
      padding-top: 1.963vw;
    }
  }


  @media (max-width:992px) {
    .padding-div {
      padding-top: 2.226vw;
    }
  }

  /***********************************************/
  /* -----------------Iframes------------------- */

  .iframe-container {
    height: calc(100vh - 12.302vw);
    margin-top: 2em;
  }


  iframe {
    height: calc(100vh - 8.787vw);
  }


  @media (min-width: 768px) {
    .w-periodo {
      width: 7.616vw;
    }

    .w-anio {
      width: 3.808vw;
    }

    .w-mes {
      width: 8.787vw;
    }

    .w-sub_unidad {
      width: 11.716vw;
    }
  }

}
