<div *ngIf="!(router.url === '/' )" class="mt-5">
</div>
<footer class="w-100 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <label class="text-footer"> Central Telefónica: (+511) 611 6000<br>
          Linea Verde: 0800-00-600<br>
          Fax: 611 6000 1634</label>
      </div>
      <div class="col-md-4 text-md-center">
        <label class="text-footer"> Correo: inventariosgei@minam.gob.pe</label>
      </div>
      <div class="col-md-4 text-md-end">
        <label class="text-footer"> Av. Antonio Miroquesada 425, Magdalena del Mar</label>
      </div>
    </div>
  </div>
</footer>