<div *ngIf="!(router.url === '/'||router.url === '/nueva-contrasena'||router.url.startsWith('/registrar-solicitud') || router.url ===  '/recuperar-contrasena'
|| router.url === '/codigo-confirmacion') ">
  <div class="space"></div>
</div>
<div class="jumbotron">
  <div class="d-lg-flex align-items-center">
    <div class="p-2 icono me-1">
      <img src="assets/images/consulta.png" height="82" />
    </div>
    <div class="p-2 texto">
      <h2>Inventarios locales<br>de GEI</h2>
    </div>
    <div class="ms-auto p-2 logo">
      <img src="assets/images/logo.png" height="50" />
    </div>
  </div>
</div>