<form (ngSubmit)="fnIniciarSesion(inicioSesionForm)" #inicioSesionForm="ngForm" novalidate>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="login d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto login__card my-5">
              <h1 class="login__title text-center">Iniciar sesión</h1>
              <div class="form-group mt-3">
                <label class="login__labels">Usuario</label>
                <input type="text" class="form-control crud__input" pattern="^[a-zA-Z0-9]+$"
                  [(ngModel)]="model.sUsuario" maxlength="20" name="sLoginUsuario" #sLoginUsuario="ngModel" required
                  [ngClass]="{ 'is-invalid': inicioSesionForm.submitted && sLoginUsuario.invalid }" required>
                <div *ngIf="inicioSesionForm.submitted && sLoginUsuario.errors?.['required']">
                  <small class="text-danger">Campo requerido.</small>
                </div>
                <div *ngIf="inicioSesionForm.submitted && sLoginUsuario.errors?.['pattern']">
                  <small class="text-danger">Solo puede ingresar letras o números.</small>
                </div>
              </div>
              <div class="form-group">
                <label class="login__labels">Contraseña</label>
                <input type="password" class="form-control crud__input " [(ngModel)]="model.sContrasena" maxlength="20"
                  name="sContrasena" #sContrasena="ngModel" required
                  [ngClass]="{ 'is-invalid': inicioSesionForm.submitted && sContrasena.invalid }" required>
              </div>
              <div *ngIf="inicioSesionForm.submitted && sContrasena.errors?.['required']">
                <small class="text-danger">Campo requerido.</small>
              </div>
              <button class="crud__button button-blue login__button" type="submit" [disabled]="loading">
                <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>Ingresar</button>
              <label (click)="openModalRecuperarContrasena(contentRecuperarContrasena)"
                class="login__subtitle mt-4 text-center">¿Olvidaste tu
                contraseña?</label>
              <div class="d-flex justify-content-center mt-2">
                <label class="login_version">v. 20.07.23.02</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Modal Confirmar Recuperar Contrasena-->
<ng-template #contentRecuperarContrasena let-modalRecuperarContrasena>
  <form (ngSubmit)="fnRecuperarContrasena(recuperarContrasenaForm,contentNotificacion)"
    #recuperarContrasenaForm="ngForm" novalidate>

    <div class="modal-header">
      <label class="modal__title">Recuperar mi contraseña</label>
      <button type="button" [disabled]="loadingModal" class="button-defect modal_close" aria-label="Close"
        (click)="modalRecuperarContrasena.dismiss()">
        <img src="assets/images/icon-close.svg" />
      </button>
    </div>
    <div class="modal-body modal-body--repContrasena">
      <label class="login__labels--olvido">Si olvido su contraseña de usuario, no se preocupe nosotros lo
        ayudaremos.<br> Ingrese su nombre de
        usuario
        para continuar.</label>
      <label class="login__labels">Usuario</label>
      <input type="text" class="form-control crud__input" pattern="^[a-zA-Z0-9]+$" [(ngModel)]="model.sUsuarioRep"
        maxlength="20" name="sUsuarioRep" #sUsuarioRep="ngModel" required
        [ngClass]="{ 'is-invalid': recuperarContrasenaForm.submitted && sUsuarioRep.invalid }" required>
      <div *ngIf="recuperarContrasenaForm.submitted && sUsuarioRep.errors?.['required']">
        <small class="text-danger">Campo requerido.</small>
      </div>
      <div *ngIf="recuperarContrasenaForm.submitted && sUsuarioRep.errors?.['pattern']">
        <small class="text-danger">Solo puede ingresar letras o números.</small>
      </div>
      <button [disabled]="loadingModal" class="crud__button button-blue mt-4 mb-4" type="submit">
        <span *ngIf="loadingModal" class="spinner-border spinner-border-sm me-2"></span>
        <span>Continuar</span></button>
    </div>

  </form>
</ng-template>

<!-- Modal Confirmar Notificación enviada-->
<ng-template #contentNotificacion let-modalNotificacion>
  <div class="modal-body">
    <label class="modal__title">Notificación enviada</label>
    <label class="mt-3 fs-16">Se ha enviado un mail al correo registrado para el cambio de contraseña.</label>
    <button class="crud__button button-blue mt-4 mb-2" (click)="redictConfirmacion()" type="submit">
      <span>Entendido</span></button>
  </div>
</ng-template>