.d-none {
  display: none !important;
}

.chart-height {
  height: calc(100% - 124px);
}

.crud__title--chart {
  font-size: 22px;
}

.form-check:first-of-type {
  margin-left: 4px;
}

.custom-legend {
  padding-left: 5%;
}

.custom-legend-firstChart {
  padding-left: 8%;
}

.height-sm {
  height: 310px !important;
}

@media (max-width: 600px) {
  .height-auto-sm {
    height: auto;
  }
}

@media (min-width: 768px) {
  .chart-container-sm {
    height: 300px;
    max-height: 300px;
    width: 51%;
    min-width: 51%;
  }

}