.modal-body-chart {
  padding: 30px 24px 30px 24px;
}

.crud__input::placeholder {
  padding-left: 1.6875rem;
  font-style: italic;
}

.close-modal {
  position: absolute;
  right: -26px;
  top: -29px;
  width: 18px;
  cursor: pointer;
}

.crud__input:placeholder-shown {
  background: url(src/assets/images/icon-lupa.svg)no-repeat;
  background-size: 25px;
  background-position: left calc(0.270em + 0.1875rem) center;
  padding-left: 0.5rem;
  color: #BABABA;
}

.chart {
  height: 270px;
  display: block;
}

.arrow-prev,
.arrow-next {
  position: absolute;
  margin-top: 210px;
}

.arrow-prev {
  left: -39px;
}

.arrow-next {
  right: -39px;
}

.font-700 {
  font-weight: 700;
}

.buttons-arrows-mobile {
  position: absolute;
  bottom: -72px;
  width: 100%;
}

.table__bandeja {
  vertical-align: middle;
  font-size: 15px;
  line-height: 19px;
  border-bottom: 0.5px solid #3D3D3D;
}

/* Modo escritorio */
@media (min-width: 600px) {
  .carousel-item {
    height: 439px;
  }

  .arrow-right-redict {
    margin-right: -15px;
  }

  .arrow-left-redict {
    margin-left: -15px;
  }

  .buttons-arrows-mobile {
    display: none !important;
    position: static !important;
  }

  .td-datos-consumo {
    padding: 15px 12px 0px 12px;
  }

}

/* Modo escritorio */
@media (min-width: 768px) {
  .col-md-2 {
    width: 142px;
  }
}

/* Modo móvil */
@media (max-width: 600px) {

  .arrow-prev,
  .arrow-next {
    display: none !important;
  }

  .close-modal {
    position: fixed;
    right: 20px;
    top: 10px;
  }
}

@media (max-width: 990px) {

  .loading-desktop {
    display: none !important;
  }

  /* Force table to not be like tables anymore */
  #table-mobile table,
  #table-mobile thead,
  #table-mobile tbody,
  #table-mobile th,
  #table-mobile td,
  #table-mobile tr {
    display: block;
  }

  #table-mobile thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #table-mobile tr {
    border: 1px solid #ccc;
  }

  #table-mobile td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }

  #table-mobile td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  #table-mobile td:before {
    content: attr(data-title);
  }

  .table__header {
    display: none !important;
  }
}

@media (min-width: 990px) {

  .loading-mobile {
    display: none;
  }

  /* Tabla */
  .table__header th:first-child {
    width: 9%;
  }

  .table__header th:nth-child(2) {
    width: 11%;
  }

  .table__header th:nth-child(3) {
    width: 13%;
  }

  .table__header th:nth-child(4) {
    width: 14%;
  }

  .table__header th:nth-child(5) {
    width: 30%;
  }

  .table__header th:nth-child(6) {
    width: 12%;
  }

  .table__header th:nth-child(7) {
    width: 7%;
  }

  .table__header th:nth-child(8) {
    width: 7%;
  }

}