.title {
  font-weight: 500;
  line-height: 23px;
  color: #413F42
}

.card {
  border: 2px solid #A2CE97;
  border-radius: 8px;
  width: min(100%, 538px);
}

.card-margin {
  margin-top: 30px
}

.contenedor-padding {
  padding-top: 26px;
  padding-bottom: 80px;
}

.card-body {
  padding: 30.21px 27.04px 20px 27.26px;
}

.title-modal {
  color: #4E944F;
  font-weight: 500;
  font-size: 20px;
}

.modal-text {
  padding: 0 clamp(1rem, 5vw, 8rem);
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-top: 22px;
}

:host ::ng-deep .ng-otp-input-wrapper .otp-input:not(:last-child) {
  margin-right: 13px !important;
}

:host ::ng-deep .otp-input {
  width: 48px !important;
  height: 48px !important;
  border-radius: 4px;
  border: 2px solid #A2CE97 !important;
  font-size: 32px;
}

::ng-deep .otp-input:focus {
  outline: 0;
  outline-color: transparent;
  outline-style: none;
}

@media (max-width:767.98px) {
  .card {
    margin-right: 0px
  }

  .margin-container {
    padding-top: 25px;
  }
}
