.column_incidencia {
    width: 560px;
    min-width: 560px;
    max-width: 560px;
}


@media (width <=1400px) {
    .column_incidencia {
        width: 450px;
        min-width: 450px;
        max-width: 450px;
    }

    /*    * {
        outline: 1px solid red;
    } */
}

/* ---------Modal--------- */
@media (max-width: 998px) {
    .modal_error {
        min-width: 94% !important;

    }
}

/* ---------Modal--------- */
@media (min-width: 998px) {
    .modal_error {
        min-width: 906px !important;

    }
}