<form>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-md-6 d-none d-md-flex bg-image"></div>
      <div class="col-md-6">
        <div class="login d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 col-xl-7 mx-auto login__card">
                <h1 class="login__title">Iniciar sesión</h1>
                <label class="login__subtitle">con Office 365</label>
                <button type="submit" class="login__button button-yellow" (click)="login()">
                  <span class="me-2">Ingresar</span> <img src="assets/images/icon-office.svg" height="20" /></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
