<div class="container margin-container">
  <label class="crud__title">Bitácora de log de errores</label>
  <div class="row d-flex align-items-end">
    <div class="col-md-3 col-lg-2">
      <label for="firstCalendar_errores" class="crud__label--sm">Seleccionar fecha de inicio</label>
      <div class="d-flex align-items-center">
        <input id="firstCalendar_errores" [(ngModel)]="firstCalendar" class="form-control crud__calendar text-md-center"
          placeholder="dd/mm/aaaa" name="fstCalendar" ngbDatepicker #fCalendar="ngbDatepicker"
          (click)="fCalendar.toggle()" (ngModelChange)="changeFirstCalendar($event)"
          [ngClass]="{ 'is-invalid': invalid_firstDate}" [minDate]="{year: getDate.year, month: 1, day: 1}"
          [maxDate]="{year: getDate.year+1, month: 12, day: 31}" />
        <img src="assets/images/icon-calendar.svg" class="icon_calendar ms-2 pointer" (click)="fCalendar.toggle()" />
      </div>
    </div>
    <div class="col-md-3 col-lg-2">
      <label for="secondCalendar_errores" class="crud__label--sm">Seleccionar fecha de fin</label>
      <div class="d-flex align-items-center">
        <input id="secondCalendar_errores" [(ngModel)]="secondCalendar"
          class="form-control crud__calendar text-md-center" placeholder="dd/mm/aaaa" name="scndCalendar" ngbDatepicker
          #sCalendar="ngbDatepicker" (click)="sCalendar.toggle()" (ngModelChange)="changeSecondCalendar($event)"
          [ngClass]="{ 'is-invalid': invalid_secondDate}" [minDate]="{year:  getDate.year, month: 1, day: 1}"
          [maxDate]="{year: getDate.year+1, month: 12, day: 31}" />
        <img src="assets/images/icon-calendar.svg" class="icon_calendar ms-2 pointer" (click)="sCalendar.toggle()" />
      </div>
    </div>
    <div class="col-lg-3 ms-auto d-flex justify-content-end align-items-end mt-2">
      <button [disabled]="rotateArrow" class=" crud__button button-blue d-flex align-items-center"
        (click)="fnRefrescar()">
        <img [ngClass]="{'rotate': rotateArrow}" src="assets/images/icon-refresh.svg" class="icon_refresh" />
        <span class="ms-2">Refrescar</span>
      </button>
    </div>
  </div>
  <div class="crud__card mt-4">
    <div class="table-responsive">
      <table class="table">
        <thead class="table__header">
          <tr>
            <th scope="col" class="text-center">Fecha y hora de registro</th>
            <th scope="col" class="text-center">Usuario</th>
            <th scope="col">Objeto de BD / URI </th>
            <th scope="col">Mensaje</th>
          </tr>
        </thead>
        <ng-container *ngIf="fShowSkeleton">
          <tbody *ngFor="let item of lstSkeleton">
            <tr class="table__body table__body--skeleton">
              <td>
                <p class="placeholder-glow rounded m-0">
                  <span class="placeholder col-12 placeholder-sm"></span>
                </p>
              </td>
              <td>
                <p class="placeholder-glow rounded m-0">
                  <span class="placeholder col-12 placeholder-sm"></span>
                </p>
              </td>
              <td class="text-center">
                <p class="placeholder-glow rounded m-0">
                  <span class="placeholder col-12 placeholder-sm"></span>
                </p>
              </td>
              <td class="text-center">
                <p class="placeholder-glow rounded m-0">
                  <span class="placeholder col-12 placeholder-sm"></span>
                </p>
              </td>
            </tr>
          </tbody>
        </ng-container>
        <ng-container *ngIf="!fShowSkeleton">
          <tbody *ngFor="let item of lstLog| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <tr class="table__body">
              <td class="text-center">{{item.dFechaRegistro}}</td>
              <td class="text-center">{{item.sLoginUsuario}}</td>
              <td>{{item.sErrorOrigen}}</td>
              <td>{{item.sMensajeError}}</td>
            </tr>
          </tbody>
        </ng-container>
      </table>
    </div>
    <ng-container *ngIf="!fShowSkeleton && lstLog.length <= 0">
      <div class="text-center mt-5 mb-5">
        <h5>No existen resultados.</h5>
      </div>
    </ng-container>
  </div>
  <div *ngIf="lstLog.length > 0 && !fShowSkeleton" class="d-flex justify-content-center mt-4">
    <ngb-pagination class="pagination-md" [collectionSize]="lstLog.length" [(page)]="page" [maxSize]="8"
      [pageSize]="pageSize">
      <ng-template ngbPaginationPrevious><img src="assets/images/icon-left-pagination.svg" /></ng-template>
      <ng-template ngbPaginationNext><img src="assets/images/icon-right-pagination.svg" /></ng-template>
    </ngb-pagination>
    <ngb-pagination class="pagination-sm" [collectionSize]="lstLog.length" [(page)]="page" [maxSize]="5"
      [pageSize]="pageSize">
      <ng-template ngbPaginationPrevious><img src="assets/images/icon-left-pagination.svg" /></ng-template>
      <ng-template ngbPaginationNext><img src="assets/images/icon-right-pagination.svg" /></ng-template>
    </ngb-pagination>
  </div>
</div>